<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style type="text/css">
      .node {}

      .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>

    <title>Projet Technologique</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer-theme.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/470b91f216.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                  <a class="navbar-brand" href="/">Découvrir le Web des données</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

    
<header>
	<div class="container" id="maincontent" tabindex="-1">
    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      <div>
        <div class="fenetre"> 
          <img class="boutons" src="/static/img/boutons.png" >
          <br>
          <div class="research"> 
            <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
            Visualiser le graphe
          </div>
          <br>
          <div style = "margin: auto">
            <svg width="650" height="400" fill></svg>
          </div>
        </div>
        <br>
        <div class="fenetre"> 
          <img class="boutons" src="/static/img/boutons.png" >
          <br>
          <div class="research"> 
            <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
            Ajouter au graphe
          </div>
          <br>
          <div style = "margin: auto">
            <form action="/formulaire" method="POST"> 
 
              <div class="form-group"> 
                <label>Sujet</label> 
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Select a username"> 
              </div> 
       
              <div class="form-group"> 
                <label>Relation</label> 
                <input type="text" class="form-control" id="relation" name="relation" placeholder="Enter your email"> 
              </div> 
       
              <div class="form-group"> 
                <label>Objet</label> 
                <input type="text" class="form-control" id="object" name="object" placeholder="Create a password"> 
              </div> 
       
              <button type="submit" class="btn btn-primary">Ajouter</button> 
       
            </form> 
          </div>
        </div>

        <script src="http://d3js.org/d3.v4.min.js" type="text/javascript"></script>
        <script src="http://d3js.org/d3-selection-multi.v1.js"></script>

        <script type="text/javascript">
            var colors = d3.scaleOrdinal(d3.schemeCategory10);
          
            var svg = d3.select("svg"),
                width = +svg.attr("width"),
                height = +svg.attr("height"),
                node,
                link;

            svg.append('defs').append('marker')
                .attrs({'id':'arrowhead',
                    'viewBox':'-0 -5 10 10',
                    'refX':13,
                    'refY':0,
                    'orient':'auto',
                    'markerWidth':13,
                    'markerHeight':13,
                    'xoverflow':'visible'})
                .append('svg:path')
                .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
                .attr('fill', '#999')
                .style('stroke','none');

            var simulation = d3.forceSimulation()
                .force("link", d3.forceLink().id(function (d) {return d.id;}).distance(100).strength(1))
                .force("charge", d3.forceManyBody())
                .force("center", d3.forceCenter(width / 2, height / 2));

            d3.json("/static/graph.json", function (error, graph) {
                if (error) throw error;
                update(graph.links, graph.nodes);
            })

            function update(links, nodes) {
                link = svg.selectAll(".link")
                    .data(links)
                    .enter()
                    .append("line")
                    .attr("class", "link")
                    .attr('marker-end','url(#arrowhead)')

                link.append("title")
                    .text(function (d) {return d.type;});

                edgepaths = svg.selectAll(".edgepath")
                    .data(links)
                    .enter()
                    .append('path')
                    .attrs({
                        'class': 'edgepath',
                        'fill-opacity': 0,
                        'stroke-opacity': 0,
                        'id': function (d, i) {return 'edgepath' + i}
                    })
                    .style("pointer-events", "none");

                edgelabels = svg.selectAll(".edgelabel")
                    .data(links)
                    .enter()
                    .append('text')
                    .style("pointer-events", "none")
                    .attrs({
                        'class': 'edgelabel',
                        'id': function (d, i) {return 'edgelabel' + i},
                        'font-size': 10,
                        'fill': '#aaa'
                    });

                edgelabels.append('textPath')
                    .attr('xlink:href', function (d, i) {return '#edgepath' + i})
                    .style("text-anchor", "middle")
                    .style("pointer-events", "none")
                    .attr("startOffset", "50%")
                    .text(function (d) {return d.type});

                node = svg.selectAll(".node")
                    .data(nodes)
                    .enter()
                    .append("g")
                    .attr("class", "node")
                    .call(d3.drag()
                            .on("start", dragstarted)
                            .on("drag", dragged)
                            //.on("end", dragended)
                    );

                node.append("circle")
                    .attr("r", 5)
                    .style("fill", function (d, i) {return colors(i);})

                node.append("title")
                    .text(function (d) {return d.id;});

                node.append("text")
                    .attr("dy", -3)
                    .text(function (d) {return d.name;});

                simulation
                    .nodes(nodes)
                    .on("tick", ticked);

                simulation.force("link")
                    .links(links);
            }

            function ticked() {
                link
                    .attr("x1", function (d) {return d.source.x;})
                    .attr("y1", function (d) {return d.source.y;})
                    .attr("x2", function (d) {return d.target.x;})
                    .attr("y2", function (d) {return d.target.y;});

                node
                    .attr("transform", function (d) {return "translate(" + d.x + ", " + d.y + ")";});

                edgepaths.attr('d', function (d) {
                    return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
                });

                edgelabels.attr('transform', function (d) {
                    if (d.target.x < d.source.x) {
                        var bbox = this.getBBox();

                        rx = bbox.x + bbox.width / 2;
                        ry = bbox.y + bbox.height / 2;
                        return 'rotate(180 ' + rx + ' ' + ry + ')';
                    }
                    else {
                        return 'rotate(0)';
                    }
                });
            }

            function dragstarted(d) {
                if (!d3.event.active) simulation.alphaTarget(0.3).restart()
                d.fx = d.x;
                d.fy = d.y;
            }

            function dragged(d) {
                d.fx = d3.event.x;
                d.fy = d3.event.y;
            }

        //    function dragended(d) {
        //        if (!d3.event.active) simulation.alphaTarget(0);
        //        d.fx = undefined;
        //        d.fy = undefined;
        //    }

        </script>
      </div>
      
      <div>
        {% include '/tp2/menus/menu2.html' %}
      </div>
    </div>
  </div>
</header>





    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="https://enssat.fr" class="btn-social btn-outline" target="_blank"><span class="sr-only">ENSSAT</span><i class="fa fa-fw fa-rebel"></i></a>
                        <hr class="star-light">
                        <span class="italic">Réalisé par Valentin SÉRÉE</span>
                        <p style="font-style:italic; font-size: 14px;"><a href="https://startbootstrap.com/template-overviews/freelancer/">Thème Bootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer-theme.min.js') }}"></script>

</body>

</html>
