
{% extends 'base.html' %}

{% block content %}
<section class="investigation" style="padding-top: 350px">
    <div class="container">

        <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
            <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            <!-- =================== DIV GAUCHE : CONTENU ======================= -->
            <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

            <div style = "text-align: justify;">
                <div class="section-title">
                    <h2>INVESTIGATION</h2>
                    <br>
                </div>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/marvelstudios.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px;">
                        <h3>LES DROITS CINÉMATOGRAPHIQUES</h3>
                        <p>
                            Les héros de Marvel sont devenus des stars du petit comme du grand écran, 
                            et les apparitions se multiplient dans tous les sens. Mais pourquoi les X-Men 
                            n’ont jamais rencontré les Avengers ? Pourquoi sommes-nous déjà au 3ème Spider-Man 
                            différent ? Ce dossier est fait pour vous !
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/evolutionmarvelcomics.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>L'ÉVOLUTION DE MARVEL COMICS</h3>
                        <p>
                            Depuis près d'un siècle, les super-héros s'imposent comme des mythes modernes. 
                            Servant d'abord de machine de propagande puis de nouveau moyen de communication, 
                            découvrez dans ce dossier comment la place des super-héros Marvel a changé au cours des décennies.
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/marvelvsdc.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>MARVEL VS DC</h3>
                        <p>
                            Le combat qui occupe les débats de fans de comics depuis plusieurs décennies ! 
                            Au programme, une opposition présentée de la manière la plus neutre possible 
                            afin que vous puissiez être capable de cerner les réelles différences entre 
                            ces deux éditeurs emblématiques du monde super-héroïque.
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/marveltv.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>MARVEL STUDIOS/TV : CONFLITS ET GESTION</h3>
                        <p>
                            Qui n’a jamais entendu cette fameuse phrase au sujet du MCU : « Tout est lié ». 
                            Tout ? Vraiment ? Mais les séries et films Marvel sont-ils tous réellement dans 
                            le même univers ? Pourquoi une telle phrase est utilisée si les faits prouvent 
                            le contraire ? Réponse dans ce dossier !
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/placefemmes.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>LA PLACE DE LA FEMME CHEZ MARVEL</h3>
                        <p>
                            À l’heure où les langues commencent à se dénouer en matière d’inégalités homme-femme, 
                            d’abus sexuels ou de misogynie, ce dossier s’intéresse à la place réservée à la femme 
                            dans l’univers Marvel, tant dans l’univers des comics que dans l’univers cinématographique. 
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/representationlgbt.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>LA REPRÉSENTATION LGBT CHEZ MARVEL</h3>
                        <p>
                            La question de la représentation LGBT gagne en ampleur avec, notamment, un nombre de 
                            personnages issus de cette communauté en perpétuelle croissance. Après des débuts difficiles, 
                            la représentation LGBT gagne du terrain avec plus de respect accordé aux personnages 
                            et leurs arcs narratifs. 
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
                <br><hr><br>
                <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; padding-left: 30px;">
                    <div style = "width:380px;">
                        <img src="/static/img/investigation/adapterspiderman.webp" alt="" class="img-fluid">
                    </div>
                    <div style="width: 460px; margin:auto;">
                        <h3>ADAPTER SPIDER-MAN AU CINÉMA</h3>
                        <p>
                            Il va de soi que les studios cherchent à tirer profit de Spider-Man en le portant sur grand écran. 
                            Depuis des décennies, le personnage est au cœur de conflits et projets d’adaptation (concrétisés ou non), 
                            et il convient de s’intéresser de plus près à ce flou juridique, scénaristique et logistique. 
                        </p>
                        <p style="font-size: 15px; padding-top: 0px; font-weight: bold;">Par Ben Urich</p>
                    </div>
                </div>
            </div>

            <!-- BANDEAU À DROITE -->
            <div style="padding-left: 60px; width: 400px;">
                <div class="doctors">

                    <div class="section-title">
                        <h2 style="color: #65A066; font-size: 24px;">On en parle !</h2>
                    </div>
                    <div class="container">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/investigation/icones/propagandecaptain.webp" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <p>
                                    Captain America, outil de propagande ou point Goldwin ?
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/investigation/icones/jimshooter.webp" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <p>
                                    "Pas de gays dans l'univers Marvel" selon Jim Shooter !
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/investigation/icones/thingtrump.webp" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <p>
                                    Une blague contre Trump effacée par les patrons de Marvel !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}