{% extends 'base.html' %}

{% block content %}

    <section id="article" class="article" style="padding-top: 350px">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-8 entries">
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/investigation/covers/droitscine.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="/investigation/droits-cinematographiques">Les droits cinématographiques</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Les héros de Marvel sont devenus des stars du petit comme du grand écran, et les apparitions se multiplient dans tous les sens. 
                    Mais pourquoi les X-Men n’ont jamais rencontré les Avengers ? Pourquoi sommes-nous déjà au 3ème Spider-Man différent ? 
                    Ce dossier est fait pour vous !
                  </p>
                  <div class="read-more">
                    <a href="/investigation/droits-cinematographiques">Lire l'article</a>
                  </div>
                </div>
  
              </article>
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/investigation/covers/evolutionmarvel.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="/investigation/evolution-marvelcomics">L'évolution de Marvel Comics</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Depuis près d'un siècle, les super-héros s'imposent comme des mythes modernes. 
                    Servant d'abord de machine de propagande puis de nouveau moyen de communication, 
                    découvrez dans ce dossier comment la place des super-héros Marvel a changé au cours des décennies.
                  </p>
                  <div class="read-more">
                    <a href="/investigation/evolution-marvelcomics">Lire l'article</a>
                  </div>
                </div>
  
              </article>
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/msmarvelG.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">Marvel vs DC</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Le combat qui occupe les débats de fans de comics depuis plusieurs décennies ! 
                    Au programme, une opposition présentée de la manière la plus neutre possible 
                    afin que vous puissiez être capable de cerner les réelles différences entre 
                    ces deux éditeurs emblématiques du monde super-héroïque.
                  </p>
                  <div class="read-more">
                    <a href="#">Lire l'article</a>
                  </div>
                </div>
  
              </article>

              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/msmarvelG.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">Marvel Studios/TV : conflits et gestion</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Qui n’a jamais entendu cette fameuse phrase au sujet du MCU : « Tout est lié ». 
                    Tout ? Vraiment ? Mais les séries et films Marvel sont-ils tous réellement dans 
                    le même univers ? Pourquoi une telle phrase est utilisée si les faits prouvent 
                    le contraire ? Réponse dans ce dossier !
                  </p>
                  <div class="read-more">
                    <a href="#">Lire l'article</a>
                  </div>
                </div>
  
              </article>

              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/msmarvelG.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">La place des femmes chez Marvel</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    À l’heure où les langues commencent à se dénouer en matière d’inégalités homme-femme, 
                    d’abus sexuels ou de misogynie, ce dossier s’intéresse à la place réservée à la femme 
                    dans l’univers Marvel, tant dans l’univers des comics que dans l’univers cinématographique. 
                  </p>
                  <div class="read-more">
                    <a href="#">Lire l'article</a>
                  </div>
                </div>
  
              </article><!-- End blog entry -->

              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/msmarvelG.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">La représentation LGBT chez Marvel</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    La question de la représentation LGBT gagne en ampleur avec, notamment, un nombre de 
                    personnages issus de cette communauté en perpétuelle croissance. Après des débuts difficiles, 
                    la représentation LGBT gagne du terrain avec plus de respect accordé aux personnages 
                    et leurs arcs narratifs. 
                  </p>
                  <div class="read-more">
                    <a href="#">Lire l'article</a>
                  </div>
                </div>
  
              </article><!-- End blog entry -->

              <article class="entry">
  
                <div class="entry-img">
                  <img src="static/img/msmarvelG.JPEG" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">Adapter Spider-Man au cinéma</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    Il va de soi que les studios cherchent à tirer profit de Spider-Man en le portant sur grand écran. 
                    Depuis des décennies, le personnage est au cœur de conflits et projets d’adaptation (concrétisés ou non), 
                    et il convient de s’intéresser de plus près à ce flou juridique, scénaristique et logistique. 
                  </p>
                  <div class="read-more">
                    <a href="#">Lire l'article</a>
                  </div>
                </div>
  
              </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
  
            {% include '/investigation/onenparle.html' %}
  
          </div>
  
        </div>
      </section><!-- End Blog Section -->
            

{% endblock %}