{% extends 'base.html' %}

{% block content %}
<!-- Header -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.js"></script>

<header>
	<div class="container" id="maincontent" tabindex="-1">

    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV GAUCHE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">

        <!-- ====================== DIV INTERNET ============================ -->
        <div id = "div2">
          <!-- Display question : Internet-->
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Crée ta page HTML !
            </div>

                <br>
                <form action="/tp2/part1-1-html" method="POST">
                <div class="form-group"> 
                  <textarea id="code" name="code"><h1>Ceci est une balise de grand titre.</h1>
<h2>Ceci est une balise de titre moins grand.</h2>
<p>Ceci est une balise de paragraphe</p>
<p>Tout est personnalisable : page faite par (mets ton prenom) !</p>
                  </textarea>
                </div> 
                {% if modification == True %}
                  <p style="color: green; font-size: 1rem"> Modification effectuée : visualise-la !</p>
                {% endif %}
                <script>
                  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                    lineNumbers: true, 
                    mode: "text/x-html"
                  });
                </script>
                
              <style>
                .CodeMirror {
                  border: 1px solid #222;
                  height: auto;
                  text-align: left;
                }
                .CodeMirror-scroll {
                  overflow-y: hidden;
                  overflow-x: auto;
                }
              </style>                

              <button type="submit" class="quiz">Enregistrer</button> 
              <button class="quiz" onclick="window.open('/html'); return false;">Visualiser</button>

              </form> 
              <br>
              <button class="quiz" onclick="window.location.href = '/tp2/part1-2'">Continuer le TP</button>

          </div>
        </div>
      </div>

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ====================== DIV GAUCHE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>
		<br>

    {% include 'interface.html' %}

  </div>
</header>

<script src="{{ url_for('static', filename='js/tp2/quiz1.js') }}"></script>

<script>
let btn1 = document.getElementById("submit");
let btn2 = document.getElementById("btn2");
let btn3 = document.getElementById("btn3");
let div0 = document.getElementById("div0");
let div1 = document.getElementById("div1");
let div2 = document.getElementById("div2");
let div3 = document.getElementById("div3");

btn1.addEventListener("click", () => {
    if(getComputedStyle(div1).display == "none"){
      div1.style.display = "block";
    }
})

btn2.addEventListener("click", () => {
    if(getComputedStyle(div2).display == "none"){
      div2.style.display = "block";
    }
})

</script>

{% endblock %}

