<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treeter</title>
    <!-- CSS File -->
    <link href="{{ url_for('static', filename='css/twitter.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">

  </head>
  <body>
    <!-- sidebar starts -->
    <div class="sidebar">
      <div style="padding-left: 9px">
        <img src="/static/img/sites/twitter/logo.PNG" style="width:45px; height: 45px;">
      </div>
      <div class="sidebarOption active" onclick="window.location.href = '/treeter'">
        <span class="material-icons"> home </span>
        <h2>Accueil</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> search </span>
        <h2>Explorer</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> notifications_none </span>
        <h2>Notifications</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> mail_outline </span>
        <h2>Messages</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> bookmark_border </span>
        <h2>Signets</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> list_alt </span>
        <h2>Listes</h2>
      </div>

      <div class="sidebarOption"  onclick="window.location.href = '/treeter/thew4tcher'">
        <span class="material-icons"> perm_identity </span>
        <h2>Profil</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> more_horiz </span>
        <h2>Plus</h2>
      </div>
      <button class="sidebar__tweet">Treeter</button>
    </div>

    <div class="feed">
      <div class="feed__header">
        <h2>Accueil</h2>
      </div>

      <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            <img
              src="/static/img/sites/twitter/profil/Uatu/ppTweet.png"
              alt=""
            />
            <input type="text" placeholder="Quoi de neuf ? (un vrai Gardien ne treete pas)" />
          </div>
          <button class="tweetBox__tweetButton">Treeter</button>
        </form>
      </div>

      <div class="post">
        <div class="post__avatar">
          <img
            src="/static/img/sites/twitter/profil/BenUrich/ppTweet.png"
            alt=""
          />
        </div>

        <div class="post__body" onclick="window.location.href = '/treeter/urich4thetruth'">
          <br>
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Ben Urich
                <span style="font-weight: lighter" class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@urich4thetruth</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>
                Wilson Fisk a du sang sur les mains au sujet de ce qui se passe à 
                <br>
                l'international aujourd'hui. Réveillons-nous !
              </p>
            </div>
          </div>
          <img
            src="https://i0.wp.com/www.universdescomics.com/wp-content/uploads/2021/02/wp3634542-scaled.jpg?ssl=1"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> chat_bubble_outline </span>
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
    </div>

    <div class="retweet">
      <p><i class="ri-repeat-fill"></i>  Ben Urich a retweeté</p>
    </div>

    <div class="post">

        <div class="post__avatar">              
          <img src="/static/img/sites/twitter/profil/Groot/ppTweet.png" alt=""/>
        </div>

        <div class="post__body">
          <br>
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Groot
                <span style="font-weight: lighter" class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@gr00t</span>
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Je s'appelle Groot. Je s'appelle Groot, je s'appelle Groot, je 
                <br>s'appelle Groot ! JE S'APPELLE GROOT !!!!</p>
            </div>
          </div>
          <img
            src="https://fr.web.img3.acsta.net/r_654_368/newsv7/16/09/06/17/22/009620.jpg"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> chat_bubble_outline </span>
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
    </div>

    <div class="post" onclick="window.location.href = '/treeter/urich4thetruth'">
      <div class="post__avatar">
        <img
          src="/static/img/sites/twitter/profil/BenUrich/ppTweet.png"
          alt=""
        />
      </div>

      <div class="post__body">
        <br>
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              Ben Urich
              <span style="font-weight: lighter" class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@urich4thetruth</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>
              J'investigue en ce moment même sur un scandale qui pourrait faire 
              <br>
              grand bruit. 
              <br>
              <p style="color: #2b69e6; padding-top: 2px">#BlackPanther #ArabianKnight</p>
            </p>
          </div>
        </div>
        <div style='padding-top: 4px' class="post__footer">
          <span class="material-icons"> chat_bubble_outline </span>
          <span class="material-icons"> repeat </span>
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> publish </span>
        </div>
      </div>
    </div>

    <div class="post" onclick="window.location.href = '/treeter/urich4thetruth'">
      <div class="post__avatar">
        <img
          src="/static/img/sites/twitter/profil/BenUrich/ppTweet.png"
          alt=""
        />
      </div>

      <div class="post__body">
        <br>
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              Ben Urich
              <span style="font-weight: lighter" class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@urich4thetruth</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>
              Je souhaiterais interviewer Spider-Man suite aux récentes 
              <br>
              allégations du maire Jameson. RT appréciés.
            </p>
          </div>
        </div>
        <img
          src="https://townsquare.media/site/622/files/2016/05/RamosSpidey.png?w=980&q=75"
          alt=""
        />
        <div class="post__footer">
          <span class="material-icons"> chat_bubble_outline </span>
          <span class="material-icons"> repeat </span>
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> publish </span>
        </div>
      </div>
    </div>
    </div>

    <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"> search </span>
        <input type="text" placeholder="Recherche Treetter" />
      </div>

      <div class="widgets__widgetContainer">
        <h2>Suggestions</h2>
        
      </div>
    </div>
  </body>
</html>
