<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treeter</title>
    <!-- CSS File -->
    <link href="{{ url_for('static', filename='css/twitter.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  </head>
  <body>
    <script>
        function myFunction() {
            document.getElementById("pp").style.borderColor = "black";
            document.getElementById("logo").src = "/static/img/sites/twitter/logo2.PNG";
            document.getElementById("follow").style.color = "black";
            document.getElementById("follow").style.backgroundColor = "white";
            document.getElementById("menu1").style.borderColor = "black";
            document.getElementById("menu2").style.borderColor = "black";
            document.getElementById("menu3").style.borderColor = "black";
            document.getElementById("suggestions").style.backgroundColor = "#202327";
            document.getElementById("searchBar").style.backgroundColor = "#202327";
            document.getElementById("text").style.backgroundColor = "#202327";
            document.body.style.backgroundColor = "black";
            document.body.style.color = "white";
        }
    </script>
    <!-- sidebar starts -->
    <div class="sidebar">
      <div style="padding-left: 9px">
        <img src="/static/img/sites/twitter/logo.PNG" style="width:45px; height: 45px;" id="logo">
      </div>
      <div class="sidebarOption"  onclick="window.location.href = '/treeter'">
        <span class="material-icons"> home </span>
        <h2>Accueil</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> search </span>
        <h2>Explorer</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> notifications_none </span>
        <h2>Notifications</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> mail_outline </span>
        <h2>Messages</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> bookmark_border </span>
        <h2>Signets</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> list_alt </span>
        <h2>Listes</h2>
      </div>

      <div class="sidebarOption" onclick="window.location.href = '/treeter/profile'">
        <span class="material-icons"> perm_identity </span>
        <h2>Profil</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> more_horiz </span>
        <h2>Plus</h2>
      </div>
      <button class="sidebar__tweet">Treeter</button>
    </div>
<!------------------------------------------------------------------------------------------------->
    <div class="feed">
        <div class="upBar">
            <span class="material-icons"> arrow_back </span>
            <h2>Leo Fitz</h2><br><br>
        </div>
        <div class="banniere" style="background-image: url(/static/img/sites/twitter/profil/Uatu/banner.jpeg)">
            <div class="pp">
                <img src="/static/img/sites/twitter/profil/Uatu/pp.jpg" class="image-ronde"  id="pp">
            </div>
        </div>
        <div class="profilBar">
          <button class="editProfil" id="editProfil"> Éditer le profil </button>
        </div>
        <div class="info">
            <h2>Le Gardien</h2>
            <h3 style="font-weight: lighter">@thew4tcher</h3>
            <p>Je vois tout mais je n'interviens pas.</p>
            <div class="location">        
                <span class="material-icons"> location_on </span>
                <h4>Lune</h4>
            </div>
			<p><span><b>13</b> abonnements</span><span STYLE="padding:0 0 0 20px;"><b>41 963</b> abonnés</span></p>
        </div>
        <br>
        <div class="post"></div>
        <div class="menus">
            <span style="border-bottom: 4px solid #0FC3FF; padding-bottom: 2px;"><b>Treets</b></span>
            <span id="menu1" style="border-bottom: 4px solid white; padding-bottom: 2px;">Treets et réponses</span>
            <span id="menu2" style="border-bottom: 4px solid white; padding-bottom: 2px;">Médias</span>
            <span id="menu3" style="border-bottom: 4px solid white; padding-bottom: 2px;">J'aime</span>
        </div>
        <div class="post"></div>
 
        <div class="post">
            <div class="post__avatar">
              <img
              src="/static/img/sites/twitter/profil/Uatu/ppTweet.png"
                alt=""
              />
            </div>
    
            <div class="post__body">
              <br>
              <div class="post__header">
                <div class="post__headerText">
                  <h3>
                    Le Gardien
                    <span style="font-weight: lighter" class="post__headerSpecial"><span class="material-icons post__badge"> </span>@thew4tcher</span>
                  </h3>
                </div>
                <div class="post__headerDescription">
                  <p>Je n'interviendrais pas.</p>
                </div>
              </div>
              <img
              src="https://nigeriapenng.com/wp-content/uploads/2021/07/Marvel-What-If-Watcher-Uatu-Concept-Art-1.jpg"
              alt=""
              />
              <div  style='padding-top: 4px' class="post__footer">
                <span class="material-icons"> chat_bubble_outline </span>
                <span class="material-icons"> repeat </span>
                <span class="material-icons"> favorite_border </span>
                <span class="material-icons"> publish </span>
              </div>
            </div>
        </div>
    </div>

<!------------------------------------------------------------------------------------------------->
    <div class="widgets">
      <div class="widgets__input" id="searchBar">
        <span class="material-icons widgets__searchIcon"> search </span>
        <input id="text" type="text" placeholder="Recherche Treetter" />
      </div>

      <div class="widgets__widgetContainer" id="suggestions">
        <h2>Suggestions</h2>
        <div class="box" onclick="window.location.href = '/treeter/urich4thetruth'">
          <div class="suggestion">
            <img
            src="/static/img/sites/twitter/profil/BenUrich/ppTweet.png"
              alt=""
            />
          </div>
          <div class="sugg">
            <h2>Ben Urich</h2>
            <h3 style="font-weight: lighter">@urich4thetruth</h3>
          </div>
          <div class="btn" style="padding-top: 22px; padding-left: 50px">
            <button class="follow" id="follow" style="width: 90px; font-size: 14px"> Suivre </button>
        </div>
        </div>
       <!-- <button onclick="myFunction()"> Test </button> -->
      </div>

      <script>

        function changeMode(){
            if (mode = "dark") {
                window.location.href = '/profil'
            } else {
                window.location.href = '/profilDark'
            }
        }
      </script>
    </div>
  </body>
</html>
