{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">

    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV GAUCHE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">

        <!-- ====================== DIV URI ============================ -->
        <!-- Display question : Composition d'une page -->
        <div id = "div0">
          <div style="height: 370px;" class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Composition d'une page
            </div>
            <br>
            <div style = "width: 500px; margin: auto">
              Chaque élément du Web est défini par ce que l'on appelle une <b>URI</b>.
            </div>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
              <div style = "padding-left: 30px; width : 380px">
                <div class="quiz-container">
                  <div id="quiz3"></div>
                </div>    
                <button class="quiz" id="previous" >Précédent</button>
                <button class="quiz" id="next">Suivant</button>
                <button class="quiz" id="submit">Corriger</button>
              </div>
              <div>
                <br>
                <img src="/static/img/habillage3.png" style = "height: 70%">
              </div>
            </div>
          </div>

          <br>

          <!-- Display explication : Définition URI -->
          <div class="fenetre" id="div1" style="display: none; "> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
                <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
                URI
            </div>
            <br>
              <div  style="padding: 10px; width: 600px; margin:auto">
                <div class = "info" style="font-size: 14px; padding: 15px">
                  L'<b>URI (Uniform Resource Identifier) permet d'identifier une entité</b> utilisée 
                  sur le web. Les URI peuvent être reliées entre elles.
                  <br><br>
                  Il s'agit d'une <b>extension de l'URL</b> (qui permet d'identifier les pages du web uniquement).
                  Ainsi, tout ce qui est identifié par une URI est une ressource du web accessible sur le web.
                  <br>
                  Cela rassemble donc les documents du web (identifiés par leur URL) mais aussi toutes les 
                  choses dont on parle sur le web, par exemple une table, une voiture, un humain ou encore une idée,
                  un concept abstrait... Si l'on schématise, l'<b>URI correspond à la concaténation entre l'URL pour 
                  localiser une ressource et de l'URN (Uniform Resource Name) qui est un identifiant unique pour 
                  une ressource</b>.
                </div>
              </div>
              <div>
                <img src="/static/img/uri.gif" style="width: 600px; margin:auto">
              </div>
              <br>
            <button class="quiz" id="btn2">Continuer</button>
          </div>
        </div>

        <div id = "div2" style = "display:none">
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Exemple d'URI
            </div>
            <br>
            <div style = "width: 600px; margin: auto">
              Plaçons nous dans le contexte d'une bibliothèque, à la recherche d'un livre particulier. 
              La bibliothèque représente le Web, le livre représente une donnée recherchée.
              <br><br>
              Si l'on demande <i><b>Amazing Spider-Man N°1</b></i> au bibliothécaire, il ne saura pas spécifiquement
              quel livre nous souhaitons (plusieurs livres portent ce titre), il ne saura donc pas où chercher. 
              Nous ne pourrions pas avoir le livre (simplement).
            </div>
            <br>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
              <div style = "padding-left: 20px; width: 300px; margin:auto">
                <div class="info" style="font-size: 1.5rem;">
                  <p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Identifier le livre</p>
                  Pour identifier un livre, il existe un <b>identifiant unique</b>, appelé <b>ISBN</b>. Ce code désigne un 
                  livre particulier <i>(au sens large)</i> et permet donc d'identifier quel livre <i>Amazing 
                  Spider-Man N°1 </i> nous souhaitons.<br><br>
                  
                  Par analogie, il s'agit de l'<b>URN</b> du livre : nous pouvons désormais identifier le livre avec précision.
                </div>
              </div>
              <div style = "padding-right: 20px; width: 350px; margin:auto">
                <div class="info" style="font-size: 1.46rem;">
                  <p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Localiser le livre</p>
                    Pour localiser le livre dans la bibliothèque, il faut savoir dans quel rayon le chercher 
                    et sur quelle étagère. Si l'on connaît ces paramètres, on peut savoir où se trouve le livre dans la bibliothèque.
                    <br><br>
                    Par analogie, il s'agit de l'<b>URL</b> du livre : nous pouvons le localiser avec précision.
                    <br><br>
                    <p style = "font-size: 1.2rem;">
                      Le rayon pourrait être comparé au site Web, l'étagère pourrait être comparée à la page du site.
                    </p>
                </div>
              </div>
            </div>
            <br>
            <div style=" padding-left: 20px; padding-right: 20px;">
            <div class="info" style="font-size: 1.5rem;">
              Indépendamment, l'ISBN ne permet pas de trouver le livre et l'emplacement du livre ne permet pas 
              de savoir quel livre nous cherchons.
              Combinés, ils permettent de tout savoir du livre : ils forment l'<b>URI</b> du livre.
            </div>
          </div>
            <br>
            <button class="quiz" id="btn3">Continuer</button>
          </div>

          <br>

          <div style="height: 370px; display: none;" id="div3" class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Comprendre l'URI
            </div>
            <br>
            <div style = "width: 500px; margin: auto">
              Vérifie ta bonne compréhension de ces notions.
            </div>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
              <div style = "padding-left: 10px; width : 320px">
                  <div class="quiz-container">
                    <div id="quiz31"></div>
                  </div>    
                  <br>
                  <button class="quiz" id="previous31" >Précédent</button>
                  <button class="quiz" id="next31">Suivant</button>
                  <button class="quiz" id="submit31">Corriger</button>
              </div>
              <div style = "padding-right: 10px">
                <br>
                <div class = "info" style="color:#7c7c7c; font-size: 13px; display:none" id="div4">
									<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Résumé</p>
                  L'<b>URL</b> permet de <b>localiser une ressource</b> dans le web. <br>
                  L'<b>URN</b> permet de <b>référencer une ressource</b> sur le web sans la localiser. <br>
                  L'<b>URI</b> est l'<b>ensemble de ces deux paramètres</b>.
									<br><br>
									<button class="quiz" onclick="window.location.href = '/tp3/part1-3'">Continuer</button>
									<br>
								</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ====================== DIV GAUCHE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>
	
    <br>
    
    {% include 'interface.html' %}
  
  </div>
</header>
<script src="{{ url_for('static', filename='js/tp3/quiz3.js') }}"></script>
<script src="{{ url_for('static', filename='js/tp3/quiz3-1.js') }}"></script>

{% endblock %}
