{% extends 'base.html' %}

{% block content %}

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog" style="padding-top: 350px">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="/static/img/msmarvelG.JPEG" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="#">Les droits cinématographiques</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Pourquoi les X-Men n'ont-ils jamais rencontré les Avengers ?
                Qui sont ceux derrière les reboots incessants de Spider-Man ou des Quatre Fantastiques ? 
                Quelle finalité à cet univers super-héroïque Marvel ? Peut-on espérer une convergence totale de toutes les franchises ?
              </p>
              <hr>
              <p>
                FRONT LINE – Vous aimez les films de super-héros Marvel, mais vous ne comprenez pas pourquoi nous n’avons jamais eu le droit 
                à un terrible affrontement des X-Men et des Avengers ? Pourquoi Spider-Man n’a jamais rencontré la Torche Humaine des 4 Fantastiques ? 
                En bref, pourquoi tous ces films commençant par le logo emblématique Marvel ne se croisent pas, en pleine mode des univers partagés ? 
                Alors cet article est fait pour vous !              
              </p>
              <h3>Petit contexte historique</h3>
              <p>
                Marvel Comics (précédemment connu sous le nom de Timely Comics, puis Atlas Comics) est une société de comics, spécialisée dans la création 
                de super-héros parmi lesquels on retrouve les célèbres Spider-Man, Iron Man ou encore Hulk. Fondée au cours de la Seconde Guerre Mondiale, 
                l’entreprise gagne en importance au début des années 60 grâce aux diverses créations cherchant un nouveau public. Marvel peut alors enfin 
                espérer concurrencer son éditeur rival : DC Comics.
              </p>
              <img src="/static/img/investigation/droitscine/superman.webp" class="img-fluid" alt=""><br><br>
              <p>
                Mais DC Comics a une longueur d’avance : dès les années 1970, le studio Warner Bros. commence à tirer profit des personnages du catalogue 
                DC Comics, comme Superman puis Batman, jouissant d’un contrôle total du catalogue de la Distinguée Concurrence.
              </p>
              <p>
                Alors que Marvel est en pleine crise économique au cours de la décennie 90, elle fonde sa filière Marvel Entertainment et entreprend de 
                vendre les droits d’adaptation de ses différents personnages, pour tenter de sortir du bourbier financier. La mise en vente intéresse de 
                nombreux studios, qui vont alors acheter des licences, regroupant un personnage (ou une équipe), et tout l’univers bâti autour de celui-ci. 
                Commence alors l’éparpillement des licences aux quatre coins d’Hollywood…
              </p>
              <p>
                Aujourd’hui, tous les personnages (ou presque) sont enfin réunis sous la bannière de Marvel Studios. Revenons cependant sur l’éparpillement 
                des différentes licences Marvel au sein des plus grands studios hollywoodiens au cours des deux dernières décennies, ainsi que l’utilisation 
                de chacun d’entre eux des personnages en leur possession.
              </p>
              <h3>Les droits des différents studios</h3>
              <h4>New Line Cinema</h4>
              <p>
                À la fin des années 90, le studio New Line Cinema achète les droits du personnage Blade, mi-homme mi-vampire, et réalise une trilogie de films 
                entre 1998 et 2004 avec l’interprétation de Wesley Snipes. Le succès au box-office n’est pas forcément au rendez-vous, mais la saga a le mérite 
                d’être saluée.
              </p>
              <img src="/static/img/investigation/droitscine/blade.webp" class="img-fluid" alt=""><br><br>
              <p>
                Mais New Line n’est pas uniquement propriétaire du personnage Blade. En 1999, les droits du désormais célèbre Iron Man, héros fondateur du MCU, 
                sont rachetés à la 20th Century Fox (acquis dans un premier temps quelques années auparavant), mais le studio finit par retourner les droits à 
                Marvel Studios en 2006.
              </p>
              <p>
                À cette heure, un film Blade est en développement pour Marvel Studios. Si aucune date n’est encore avancée pour le film, l’acteur oscarisé 
                Mahershala Ali est d’ores et déjà attendu dans le rôle titre.
              </p>
              <h4>20th Century Fox</h4>
              <p>
                En 1996, la Fox met la main sur les droits des X-Men, des 4 Fantastiques, et de Daredevil (ainsi que d’autres personnages inexploités comme Iron Man).
              </p>
              <p><b>Les opprimés X-Men</b></p>
              <p>
                La Fox entreprend la réalisation de la saga inspirée de l’univers mutant, avec la sortie du film X-Men, en 2000. Le succès est tel qu’il lance 
                un nouvel essor : le projet donne naissance à l’envie des divers studios d’exploiter le filon super-héroïque de manière sérieuse.
              </p>
              <img src="/static/img/investigation/droitscine/xmen.webp" class="img-fluid" alt=""><br><br>
              <p>
                La saga se développe, voit naître des spin-offs, comme la trilogie Wolverine, ou Deadpool, et tente même le pseudo-reboot en 2011 avec 
                X-Men : Le Commencement. Loin de réussir à respecter les contraintes d’une chronologie parfaite, les films plaisent néanmoins globalement 
                au public, permettant de développer plus d’une dizaine de films mutants, sans oublier les deux séries télévisées Legion et The Gifted.
              </p>
              <p>
                Plusieurs projets, à l’image d’un Multiple Man avec James Franco, Gambit avec Channing Tatum ou un X-Force, ont été annoncé sans 
                toutefois ne jamais voir le jour, la faute à une saga déclinante et un rachat que nous évoquerons plus loin.
              </p>
              <p><b>Les fantasques Fantastiques</b></p>
              <p>
                Ce succès est loin de frapper l’autre super-équipe possédée par la Fox, les 4 Fantastiques ! Après 3 films, dont un reboot, la 
                licence est devenue inexploitable entre les mains de la Fox, malgré les dires de certains producteurs souhaitant lier leur destin 
                à celui des mutants.<br>
                Après l’échec cuisant du dernier film, le studio abandonne tout espoir de suite pour ce reboot. Néanmoins, un film sur le 
                personnage du Dr. Fatalis est un temps évoqué par la Fox. Ce projet ne verra finalement pas le jour avant le retour des droits 
                à Marvel Studios.
              </p>
              <img src="/static/img/investigation/droitscine/4f.webp" class="img-fluid" alt=""><br><br>
              <p><b>Daredevil, aveuglément vôtre</b></p>
              <p>
                Grand oublié parmi les possessions de la 20th Century Fox, Daredevil a été adapté en 2003, campé par un jeune Ben Affleck. 
                Le film donne le jour à un spin-off centré sur son amante de toujours, Elektra, incarnée par Jennifer Garner.
              </p>
              <img src="/static/img/investigation/droitscine/daredevil.webp" class="img-fluid" alt=""><br><br>
              <p>
                Malgré une adaptation plutôt fidèle à l’histoire, entourée d’antagonistes nettement moins bien réussis (Caïd, Bullseye ou la Main), 
                les 2 films ne convainquent pas, et bien que le studio ait envisagé par la suite un reboot, les droits retournent à Marvel en 2013.
              </p>
              <h4>Lions Gate Entertainment</h4>
              <p>
                Lions Gate rachète en 2003 le studio Artisan Entertainment, qui possédait les droits d’une quinzaine de franchises dont 
                Captain America, Iron Fist, Black Panther ou Ant-Man. Le studio obtient par la même occasion les droits du Punisher et 
                de Man-Thing en 2004.
              </p>
              <img src="/static/img/investigation/droitscine/manthing.webp" class="img-fluid" alt=""><br><br>
              <p>
                Il produira The Punisher en 2004 et un autre film sorti directement en DVD Punisher : Zone de guerre, en partenariat avec 
                Marvel Studios en 2008, ainsi que Man-Thing en 2005, indépendamment. Les licences inexploitées retournent à Marvel Studios 
                en 2006, alors que le Punisher et Man-Thing ne sont récupérés qu’en 2010.
              </p>
              <h4>Universal Studios</h4>
              <p>
                Universal est depuis très longtemps en collaboration avec Marvel.<br>
                En effet, le studio prend possession de droits d’adaptation avant les années 90, parmi lesquels Howard le Canard ou Hulk. 
                Le studio a d’ailleurs adapté ces deux derniers en 1986, avec Howard… une nouvelle race de héros ! puis Hulk en 2003. 
                Les droits d’exploitations reviennent à Marvel dans le courant des années 2000 mais … les choses ne sont néanmoins pas si simples.
              </p>
              <img src="/static/img/investigation/droitscine/hulk.webp" class="img-fluid" alt=""><br>
              <h4>Sony Pictures / Columbia</h4>
              <p>
                Columbia, filiale des studios Sony, rachète en 1999 les droits du Ghost Rider et de Spider-Man. Les 2 héros auront tous deux droit 
                à leur adaptation.
              </p>
              <p><b>L'enflammé Ghost Rider</b></p>
              <p>
                Le Rider est campé à l’écran par Nicolas Cage, dès 2007 dans Ghost Rider. Il reprendra le rôle 5 ans plus tard, dans Ghost Rider 
                : L’Esprit de Vengeance, mais aucun des deux films ne marquera réellement l’histoire des films super-héroïques, la faute à un 
                scénario inintéressant et des effets spéciaux désuets.
              </p>
              <img src="/static/img/investigation/droitscine/ghostrider.webp" class="img-fluid" alt=""><br><br>
              <p>
                Après le non-succès du 2ème opus, Sony cède les droits à Marvel, marquant le 2ème gros retour à la Maison des Idées, après 
                Daredevil (Fox).
              </p>
              <p><b>Votre fidèle serviteur, Spider-Man</b></p>
              <p>
                Vient le cas du héros probablement le plus iconique de l’écurie Marvel : Spider-Man ! Sony met en chantier un film grâce à 
                Sam Raimi, rapidement après avoir obtenu difficilement les droits du personnage, mais il sera retardé de quelques mois suite 
                aux attentats du 11 septembre : Spider-Man sort finalement en 2002. Le film est un succès retentissant, qui engendrera 2 suites. 
                La saga prendra fin en 2007, même si de nouvelles suites étaient envisagées. Pressés par le temps, Sony remet en marche une 
                nouvelle saga, débutée par The Amazing Spider-Man, sorti en 2012 : dès lors, Sony envisage de créer un univers étendu autour 
                du Tisseur, qui prendrait tout d’abord la forme d’une trilogie, puis d’un film Venom et Sinister Six… mais intervient néanmoins 
                une mauvaise publicité après la sortie du 2ème film et un piratage nord-coréen de données secrètes de Sony… Le troisième opus est 
                annulé et Venom sort finalement en 2018.
              </p>
              <img src="/static/img/investigation/droitscine/spiderman2.webp" class="img-fluid" alt=""><br><br>
              <p>[RETROUVEZ TOUTE L'HISTOIRE DES ADAPTATIONS DE SPIDER-MAN DANS CE DOSSIER] <i>(à venir)</i></p>
              <p>
                Dans le même temps, les droits du personnage sont disputés sur d’autres plans, puisque Disney rachète en 2011 les droits de 
                Spider-Man sur le merchandising (produits dérivés), part importante dans le business lié au super-héros.
              </p>
              <img src="/static/img/investigation/droitscine/spiderverse.webp" class="img-fluid" alt=""><br><br>
              <p>
                Enfin, Sony a récemment exploité un filon jusqu’alors oublié : les films d’animation. Si les droits sur les séries animées 
                appartiennent toutes à Marvel, les studios peuvent exploiter les personnages sur grand écran… alternative qui semble payante 
                au vu des résultats de Spider-Man : New Generation.
              </p>
              <h3>Marvel Studios aujourd'hui</h3>
              <h4>L'ambition d'un univers partagé</h4>
              <p>
                En 2006, Iron Man est récupéré de New Line, et rejoint donc les licences de nouveau exploitables par Marvel Studios. Ce studio, 
                mené par Kevin Feige, envisage alors d’exploiter directement ses personnages au travers d’adaptation (d’abord en collaboration 
                directe avec la Paramount). C’est ainsi que Robert Downey Jr. est engagé en 2008 pour incarner Tony Stark/Iron Man, dans un film 
                ambitieux et qui est, en interne, un pari.
              </p>
              <img src="/static/img/investigation/droitscine/ironman.webp" class="img-fluid" alt=""><br><br>
              <p>
                Face au succès public et critique, l’idée de lancer un univers connecté émerge, un univers qui deviendra le plus ambitieux 
                jamais réalisé sur grand écran. En 2009, Marvel Studios est racheté par Walt Disney Company, dont elle est désormais une 
                filiale bien que gardant sa liberté dans la réalisation de ses longs-métrages. Marvel Studios débute ainsi la création d’un 
                univers qui s’étendra bien au delà du cinéma, puisqu’il s’étendra notamment à la télévision.
              </p>
              <img src="/static/img/investigation/droitscine/graos.webp" class="img-fluid" alt=""><br><br>
              <p>
                Marvel récupère peu à peu ses personnages et s’amuse à les adapter. On citera par exemple le Diable de Hell’s Kitchen, 
                Daredevil, qui fait des ravages sur Netflix et est salué par la critique, ou encore le Ghost Rider (cette fois possédé 
                par le jeune Robbie Reyes) qui a enflammé la série Les Agents du S.H.I.E.L.D. !
              </p>
              <p><b>Retour programmé</b></p>
              <p>
                Marvel Studios a bataillé paisiblement pour un retour de toutes ses licences, dans l’ambition d’agrandir toujours plus son 
                univers, et d’espérer à long-terme, pouvoir adapter certaines des histoires emblématiques des comics. Bien que les clauses 
                des contrats soient gardées secrètes, quelques informations ont déjà été rendues publiques. Parmi elles, une se dégage 
                particulièrement, étant probablement la clause la plus contraignante pour les studios…
              </p>
              <p>
                En effet, si les studios se doivent de respecter l’essence de chaque personnage, ces derniers doivent également respecter des 
                délais : chaque contrat est assorti d’un temps imparti pendant lequel le studio peut librement développer une adaptation de telle ou telle licence.<br>
                Passé ce délai, le personnage retourne automatiquement à Marvel Studios et le studio en question ne peut alors plus exploiter le héros. 
                C’est ainsi que certains personnages comme Daredevil, Ghost Rider ou même Captain America retournèrent à la Maison des Idées au fil 
                des années. À noter que le délai varie en fonction du personnage : un personnage célèbre comme Spider-Man se voit accorder un délai 
                de 5 ans, alors que d’autres bénéficient de plus de temps.
              </p>
              <p>
                Parallèlement, cette contrainte est en partie la cause du reboot de la saga Spider-Man : Sony, conscient de l’intérêt financier 
                que présente une saga comme celle du Tisseur, ne veut pas laisser s’échapper la poule aux œufs d’or… C’est un des cas probants 
                de reboot en vue de conserver une franchise (comme ce fut également le cas pour les 4 Fantastiques), la question pouvant également 
                se poser pour X-Men: Le Commencement.
              </p>
              <h3>Paradis ou problème ?</h3>
              <p>
                Bien que Marvel Studios possède tout de même un droit de regard sur les productions et que les droits semblent destinés à revenir 
                finalement à Marvel Studios d’une manière ou d’une autre, les choses ne sont en réalité pas si simples… Plusieurs problèmes se 
                posent concernant l’exploitation des diverses licences.
              </p>
              <h4>Attendre le feu vert pour Hulk</h4>
              <p>
                Les droits de Hulk, précédemment détenus par Universal Studios, reviennent chez Marvel Studios en 2005 (les résultats du film 
                de 2003 ne permettant pas d’engendrer de suite). Mais… Les choses ne s’arrêtent pas là. La situation est beaucoup plus complexe 
                aujourd’hui…
              </p>
              <p>
                En 2008, Marvel Studios sort le deuxième film de son Univers Cinématographique : L’Incroyable Hulk. Le problème vient du fait 
                que le retour du Géant vert n’est pas total… Universal garde en effet les droits de distribution des films. Pour simplifier, 
                Marvel peut produire et réaliser un film solo, mais c’est à Universal de démarcher les cinémas pour distribuer le film. 
                Le problème n’est pas forcé d’en être un, puisque ce cas de figure a déjà eu lieu précédemment entre Marvel et Paramount, 
                qui a distribué les premiers films du MCU (comme Iron Man).
              </p>
              <img src="/static/img/investigation/droitscine/hulkragnarok.webp" class="img-fluid" alt=""><br><br>
              <p>
                Or, c’est un fait : Hulk peine à briller en solo. Les films de 2003 et de 2008 n’ont pas su trouver leur public, et Universal 
                est désormais frileux à l’idée de distribuer un film centré sur Hulk, malgré sa popularité en équipe. Finalement, Marvel se 
                satisfait de cette situation en représentant un Hulk central dans les films Avengers. Ainsi, peu de chance de satisfaire le 
                souhait de l’acteur Mark Ruffalo d’avoir son propre film solo dans les prochaines phases du MCU… Tandis que sa cousine, elle, 
                aura le droit à sa propre série sur Disney+ !
              </p>
              <p>
                Cette partie du contrat reste aujourd’hui difficile à bien saisir. Les droits de distribution ont en effet été conservés 
                pour le film de 2008. Or, la mainmise des studios sur les personnages est généralement de 5 à 7 années avant un retour 
                complet chez Marvel. Difficile de croire que Marvel Studios n’a pas récupéré l’intégralité des droits à ce jour… 
                La situation est donc encore floue...
              </p>
              <img src="/static/img/investigation/droitscine/namor.webp" class="img-fluid" alt=""><br><br>
              <p>
                Il en va de même pour Namor, le Prince des Mers. Jamais adapté sur grand écran, ce personnage serait bel et bien en 
                possession d’Universal, d’après une déclaration de Kevin Feige en 2013. Encore une fois, la situation est difficilement
                compréhensible puisque la majorité des achats a eu lieu à la fin des années 90, et qu’aucune adaptation n’a vu le jour…
                Réponse probable dans le prochain opus des aventures de Black Panther.
              </p>
              <p>
                En bref, si aux dernières nouvelles, Universal est toujours lié à Hulk et/ou Namor, il y a fort à parier que ces deux 
                personnages emblématiques sont (ou seront bientôt) de retour chez Marvel Studios.
              </p>
              <h4>Sony tisse toujours sa toile</h4>
              <p>
                Le cas de Sony est probablement l’un des plus problématiques pour Marvel. Sony ne veut pas lâcher la source de revenus 
                que représente Spider-Man, mais s’est retrouvé face au mur suite aux résultats de The Amazing Spider-Man : Le Destin d’un Héros. 
                Celui-ci était supposé constituer la rampe de lancement d’un univers étendu autour du Tisseur : le but aurait été de créer 
                toute une saga autour des films Amazing Spider-Man, centré sur des méchants et où le héros tiendrait un rôle secondaire… 
                Le destin en aura donc décidé autrement, et Sony s’est vu contraint de se rapprocher de Marvel Studios pour recommencer à 
                exploiter la licence.
              </p>
              <p>
                En février 2015, Sony et Marvel Studios parviennent à un accord : Marvel Studios a désormais la possibilité d’utiliser 
                Spider-Man dans l’Univers Cinématographique Marvel mais Sony garde la possession du personnage (et par conséquent, les 
                revenus de ses films solo). Tom Holland interprète le nouveau Peter Parker dans Captain America: Civil War, film dans lequel 
                le héros fera une apparition remarquée et saluée. Le Monte en l’air obtient son film en 2017, avec Spider-Man: Homecoming.
              </p>
              <img src="/static/img/investigation/droitscine/spideyffh.webp" class="img-fluid" alt=""><br><br>
              <p>
                C’est alors que, conscient de l’engouement autour de sa nouvelle incarnation de l’Araignée, Sony voit l’opportunité de 
                relancer ses projets d’univers « étendu »… Ou presque. Le studio annonce de multiples projets autour des ennemis de 
                Spider-Man, à l’instar de Venom, Silver Sable, Black Cat ou encore Morbius.
              </p>
              <p>
                Ces projets ont un goût un peu particulier puisqu’ils ne sont pas produits par Marvel Studios, mais bel et bien par Sony, 
                qui garde donc le contrôle créatif à 100%. Si dans un premier temps, Venom a été vendu comme prenant part dans un univers 
                distinct de celui du MCU, la première bande-annonce de Morbius et les rumeurs sur Venom: Let there be Carnage laissent 
                entendre une nouveauté. Bien que Marvel Studios (via Kevin Feige) a formellement déclaré que les films de Sony NE feront 
                PAS partie du MCU (logique), Sony semble ne pas l’entendre de cette oreille. On se souvient lorsqu’à l’été 2019, le studio 
                avait annoncé rompre sa collaboration avec Marvel/Disney pour récupérer Spider-Man dans son propre univers. Aujourd’hui, 
                tout reste flou jusqu’à la sortie de Morbius, mais toutes les possibilités paraissent possibles pour l’avenir. Quoiqu’il 
                en soit, le Spider-Man de Tom Holland a finalement encore un peu de temps à passer au sein du MCU, puisqu’un nouvel accord 
                a été trouvé entre les deux studios pour un troisième film et une apparition ailleurs.
              </p>
              <img src="/static/img/investigation/droitscine/venom.webp" class="img-fluid" alt=""><br><br>
              <p>
                Mais dans l’éventualité où Sony reviendrait sur son ambition de récupérer Spider-Man pour eux seuls, l’expérience a montré 
                avec le film Venom que le public pouvait être réceptif à l’univers en construction de Sony : le film est un succès commercial 
                qui, bien qu’ayant amplement divisé la critique, hérite d’une suite et de multiples autres ennemis, bien décidés à se passer 
                du Tisseur. Espérons néanmoins que cela ne causera aucune méprise auprès du public moins averti, et que cela ne nuira pas au 
                bon fonctionnement du MCU de Marvel Studios.
              </p>
              <h4>La fin d'une mutation</h4>
              <p>
                Les relations entre Marvel et la Fox sont passées par des hauts et des bas, Marvel ayant par le passé souhaité amoindrir l’intérêt 
                des licences possédées par la Fox : on retiendra notamment l’arrêt des comics 4 Fantastiques, ainsi qu’une diminution des titres 
                X–Men au profit des Inhumains. <br>
                La Fox a ensuite entrenu de bonnes relations avec Marvel Studios, puisque les deux studios parviennent parfois à des accords : 
                on retiendra par exemple l’échange de droits concernant Ego et Negasonic Teenage Warhead, ou l’arrangement supposé pour 
                l’exploitation des Jumeaux Maximoff (les deux mutants étant historiquement liés aux X-Men ET aux Avengers, ces derniers sont 
                parmi les rares personnages appartenant à une zone ‘trouble’, et il est possible d’imaginer que la Fox et Marvel ont convenu 
                que l’un exploitait Vif-Argent tandis que l’autre se satisfaisait de la Sorcière Rouge).
              </p>
              <img src="/static/img/investigation/droitscine/quicksilver.webp" class="img-fluid" alt=""><br><br>
              <p>
                Autre coup de tonnerre : en 2017, la Fox annonce mettre en vente la totalité de ses filiales (à l’exception de la chaîne 
                télévisée d’information) dont la 20th Century Fox, le studio cinématographique en possession des X-Men et 4 Fantastiques, 
                fait notamment partie.
              </p>
              <p>
                Disney se présente alors comme un acheteur et fait une offre de près de 53 milliards de dollars en décembre de la même année, 
                confirmée et validée par des communiqués communs. Outre les licences non-Marvel que récupère Disney (dont Avatar, Aliens…) et 
                les chaînes télévisées, l’intérêt pour nous serait alors de voir la quasi-totalité du catalogue Marvel rejoindre le MCU…
              </p>
              <p>
                Les enchères ont monté, avec l’arrivée d’un autre concurrent, Comecast. Finalement, Disney acquiert bel et bien la Fox, après 
                avoir rajouté près de 20 milliards de dollars sur la table. Reste désormais la question de l’intégration et de la conservation 
                ou non du ton de certains personnages (Deadpool notamment).
              </p>
              <img src="/static/img/investigation/droitscine/deadpool.webp" class="img-fluid" alt=""><br><br>
              <p>
                En attendant, l’Univers X-Men a continué à se développer au cinéma, avec Deadpool 2 sorti en 2018. Pour la suite, malgré des 
                retardements de production à répétition, X-Men : Dark Phoenix et Les Nouveaux Mutants marquent la fin (plutôt désastreuse) d’un 
                univers vaste bâti sur 2 décennies. Si X-Men : Dark Phœnix a marqué la fin officieuse de l’univers de la Fox de manière 
                catastrophique en terme de chiffres, Les Nouveaux Mutants a marqué la fin officielle de celui-ci, après un calvaire de production.
              </p>
              <p>
                Ainsi, X-Men et 4 Fantastiques pourront enfin rejoindre l’univers de Kevin Feige, en atteste l'annonce d'un film 4 Fantastiques 
                réalisé par James Watt.
              </p>
              <h3>Conclusion</h3>
              <p>
                Tous les personnages Marvel semblent donc bel et bien destinés à rejoindre tôt ou tard Marvel Studios. Croisons désormais 
                les doigts pour que le studio perdure assez longtemps et nous fournisse encore pour de longues années des films de la qualité 
                d’un Avengers: Infinity War et sache garder la diversité offerte par les autres studios (dont Deadpool est un bel exemple).
              </p>
              <!--<blockquote>
                <p>
                  Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                </p>
              </blockquote>-->
            </div>

            <!--<div class="entry-footer">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">Business</a></li>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                <li><a href="#">Creative</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div>-->

          </article><!-- End blog entry -->

          <div class="blog-author d-flex align-items-center">
            <img src="/static/img/msmarvel.JPEG" class="rounded-circle float-left" alt="">
            <div>
              <h4>Ben Urich</h4>
              <div class="social-links">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="biu bi-instagram"></i></a>
              </div>
              <p>

                L'enquêteur Ben Urich, grand reporter et fondateur du journal Front Line, collabore aujourd'hui avec nos équipes du Web Bugle 
                pour explorer un peu plus en profondeur ce vaste monde de Marvel Comics et/ou des adaptations des personnages Marvel. 
                Ses dossiers ont pour but de vous fournir une analyse poussée des sujets traités, vous offrant des informations concrètes 
                et précises pour forger votre propre avis.              
            </p>
            </div>
          </div><!-- End blog author bio -->

          <div class="blog-comments">

           <!-- <h4 class="comments-count">8 Comments</h4>

            <div id="comment-1" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                  </p>
                </div>
              </div>
            </div><!- End comment #1 ->

            <div id="comment-2" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                  </p>
                </div>
              </div>

              <div id="comment-reply-1" class="comment comment-reply">
                <div class="d-flex">
                  <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                  <div>
                    <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                      Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                      Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-2" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                    <div>
                      <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan, 2020</time>
                      <p>
                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                      </p>
                    </div>
                  </div>

                </div><!- End comment reply #2->

              </div><!- End comment reply #1->

            </div><!- End comment #2->

            <div id="comment-3" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvelG.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                    Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                  </p>
                </div>
              </div>

            </div><!- End comment #3 ->

            <div id="comment-4" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                  </p>
                </div>
              </div>

            </div><!- End comment #4 -->

            <div class="reply-form">
              <h4>LAISSER UN COMMENTAIRE</h4>
              <!--<p>Your email address will not be published. Required fields are marked * </p>-->
              <form action="">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Pseudo*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Site">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="comment" class="form-control" placeholder="Commentaire*"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Poster le commentaire</button>

              </form>

            </div>

          </div><!-- End blog comments -->

        </div><!-- End blog entries list -->

        {% include '/investigation/onenparle.html' %}

      </div>

    </div>
  </section><!-- End Blog Single Section -->

{% endblock %}