{% extends 'base.html' %}

{% block content %}

<section id="article" class="article" style="padding-top: 350px">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="/static/img/investigation/covers/marvelvsdc.png" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="#">Marvel vs DC : comparaison et opposition !</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Véritables mythes modernes, les super-héros sont généralement regroupés sous deux bannières désormais bien connues du grand public :
                Marvel Comics et DC Comics. Au delà d'une confrontation concrète, quels sont les points différenciant et rassemblant ces deux univers 
                approchant de leur siècle d'existence ?
              </p>
              <hr>
              <p>
                FRONT LINE – Le combat qui occupe les débats de fans de comics depuis plusieurs décennies ! Au programme, une opposition 
                présentée de la manière la plus neutre possible afin que vous puissiez être capable de cerner les réelles différences entre 
                ces deux éditeurs emblématiques du monde super-héroïque.
              </p>
              <h3>Combat au sommet</h3>
              <p>
                La scène hollywoodienne est depuis quelques temps dominée par le monde super-héroïque, en atteste l'ensemble du box-office et la 
                prolifération des adaptations super-héroïques sous toutes les formes. Mais bien avant ce rêve d’univers partagé sur grand écran, 
                Marvel officiait au format papier sous la forme désormais connu de tous : les comics. Loin d’être l’unique éditeur de comics, 
                Marvel est souvent comparé à son principal 'rival', DC Comics. Bien que n’étant pas seuls sur le marché, ces deux maisons d’édition 
                sont généralement vues comme dominatrices dans la création de comics centrés sur les super-héros, se livrant une concurrence plus 
                ou moins directe. 
              </p>
              <h3>Retour au matériau de base</h3>
              <p>
                DC Comics voit le jour en 1935, d’abord connu sous le nom de National Allied Publications, puis obtient son premier succès en 1938 
                en révolutionnant l’industrie du comics grâce à la création de Superman par Siegel et Shuster, dans Action Comics #1. L’année suivante, 
                ce sera au tour de super-héros désormais tout aussi connus de faire leurs premiers pas, à l’instar de Batman, Flash ou encore Wonder Woman.
              </p>
              <p>
                Marvel naît quant à elle en 1939, appelé alors Timely Comics, et publie cette même année le Marvel Comics #1, lançant par la même occasion 
                des personnages tels que Captain America ou Namor, mais connaît un nouvel essor au début des années 1960, dans les mains de Lee, Kirby ou 
                Ditko par exemple.
              </p>
              <p>
                Bien qu’ayant traversé tous deux des périodes de trouble, de remise en question et d’exploration de nouveaux genres, DC et Marvel se 
                spécialisent rapidement dans l’édition de comics de super-héros jusqu’à devenir des références du genre et à imposer leurs personnages 
                dans la culture populaire, allant parfois jusqu’à créer le trouble auprès du public moins initié, assimilant généralement le terme de 
                comics au genre super-héroïque, voire même confondre les deux compagnies. Au delà de concentrer quelques points communs et ressemblances, 
                de réelles divergences existent dans l’identité des deux éditeurs, tant dans le fond que dans la forme de réaliser un comics.
              </p>
              <h3>Entre humains et icônes</h3>
              <p>
                Commençons par la façon dont traite chaque écurie la manière de présenter ses héros.
              </p>
              <p>
                DC Comics cherche, et réussit, à faire de ses héros des symboles. Cet aspect s’illustre notamment dans les deux figures de proue de la 
                Distinguée Concurrence : Superman et Batman. Superman représente en un personnage la lumière, le Bien et la vertu, véritable archétype 
                de ce que devrait être un héros digne ; Batman, lui, image le héros sombre et torturé, usant de moyens discutables pour arriver à ses 
                fins, lui-même archétype du héros brisé. Marvel, à l’inverse, n’icônise pas (ou peu) ses héros, à une exception prête : Captain America.
              </p>
              <p>
                Cette différence entre les deux univers a d’ailleurs été relevée dans le crossover JLA/Avengers, sorti en 2003, au cours duquel les 
                Vengeurs arrivaient au beau milieu de l’univers DC et se trouvaient surpris de la façon dont la Ligue était traitée par la population, 
                tous vus comme de véritables icônes, non pas des hommes costumés.
              </p>
              <p>
                Aussi, l’idée d’icônisation de l’univers DC se renforce notamment par l’évolution au cours du temps de véritables générations de 
                super-héros : de l’époque de la Société de Justice à la Ligue des Justiciers puis de nouveaux groupes formés de plus jeunes héros, 
                l’aspect générationnel passe également par les relations entretenues entre les héros. Le cas de la « Flash Family » est parlant : 
                Jay Garrick, premier Flash et mentor d’une réelle lignée de successeurs, notamment Barry Allen (Flash), oncle de Wally West (Kid Flash) 
                et grand père de Bart Allen (Impulse), sans compter de nombreux autres speedsters ; ainsi que la « Bat-family » comptant quatre Robin 
                (comme Dick Grayson ou Tim Drake) ou Batgirl.
              </p>
              <p>
                Cet aspect familial, très fort dans l’univers DC, renforce l’unité et la symbolique des héros : le symbole sur le costume du héros 
                compte plus que celui qui se cache derrière le masque. Finalement, c’est l’idée de dynastie qui se dégage des héros de DC.
              </p>
              <p>
                Par opposition, et ce pendant longtemps, Marvel n’est jamais réellement parvenu à un passage de flambeau réussi, comme a pu le démontrer 
                La Saga du Clone, censée amener un remplaçant à Peter Parker dans la peau de Spider-Man, soldée par un véritable échec tant scénaristique 
                que critique.
              </p>
              <p>
                Et cet échec s’explique probablement par une autre distinction avec DC : l’humain est indissociable du super-héros, car l’humain prime sur le héros.
              </p>
              <h3>
                Pleine crise d'identité
              </h3>
              <p>
                Une part importante de l’opposition entre DC et Marvel repose dans la place qu’occupe la notion d’identité secrète dans leurs récits. 
                Tandis que DC privilégie l’aspect super-héroïque de ses personnages, Marvel a plutôt tendance à faire primer l’aspect civil : en effet, 
                DC fait de ses héros de véritables dieux, Marvel des hommes avant tout. Revenons-en à nos exemples. 
              </p>
              <p>
                Superman, Kryptonien arrivé sur Terre dès son plus jeune âge, adopte le nom de Clark Kent, et Batman répond au nom de Bruce Wayne, playboy 
                à la tête d’une entreprise milliardaire. Mais, finalement, c’est l’identité super-héroïque qui prend le devant sur le côté humain des personnages : 
                Clark Kent est le héros (à la limite d’un dieu) défenseur de la Terre avant d’être un journaliste maladroit et discret ; Bruce Wayne un justicier 
                à l’esprit surdéveloppé et aux capacités physiques hors norme avant un milliardaire sexy. La réelle double identité de ces deux personnages est 
                leur identité à la ville, le masque cachant un super-héros : Superman et Batman se cachent derrière Clark et Bruce, non l’inverse. 
              </p>
              <p>
                En revanche, l’exemple est tout autre chez Marvel Comics. Le cas de Spider-Man, héros phare de la Maison des Idées, est une illustration probante. 
                Spider-Man est Peter Parker avant d’être Spider-Man. C’est un jeune homme brillant, réservé et se rendant coupable de chacun de ses erreurs. 
                L’identité de Spider-Man n’est qu’une infime part de lui-même, un moyen d’exprimer ce qu’il n’est pas. Autre exemple : celui d’Iron Man, alias 
                Tony Stark, un playboy arrogant, aux multiples démons mais souhaitant toujours le bien.
              </p>
              <p>
                Ces quelques héros parmi les plus emblématiques des deux écuries sont des exemples parmi tant d’autres, bien que des contre-exemples puissent 
                être trouvés de part et d’autre. L’idée reste néanmoins claire sur la vision qu’ont les deux concurrents sur la notion d’identité secrète, ce 
                qui se répercute également dans la façon dont sont tournés leurs récits respectifs. 
              </p>
              <p>
                La majorité des histoires produites par DC s’appuie sur des combats et autres mésaventures de super-héros, là où Marvel insère des problèmes 
                plus humains à leurs héros, plus terre à terre. Pour en revenir aux exemples, rares sont les péripéties dont sont victimes Clark Kent ou Bruce 
                Wayne indépendantes de leur double identité. De l’autre côté, Peter Parker est souvent en proie à des soucis d’ordre personnel, non liés à sa 
                vie de Spider-Man, comme des histoires de cœur, des cours, sa vie en compagnie de sa tante etc… Un autre exemple pourrait être employé du côté 
                de Marvel : celui des Quatre Fantastiques. Bien que l’identité du groupe soit rendue publique instantanément, leurs aventures sont généralement 
                rythmées par les querelles de famille.
              </p>
              <h3>Le cas de Captain America</h3>
              <p>
                Captain America est probablement le personnage permettant au mieux de mettre le flou sur les points précités : un héros servant avant tout de 
                symbole (ce fut d’ailleurs l’objectif premier lors de la création du personnage) qui n’a pas de réelle vie en dehors du costume ou même de réel défaut. 
              </p>
              <p>
                Il fut par ailleurs l’un des seuls personnages Marvel à avoir eu un passage de relai intéressant et ayant intéressé. Cette réussite s’explique peut 
                être par le fait qu’il ait été l’un des seuls de l’univers Marvel à avoir lieu entre un mentor et son sidekick.
              </p>
              <p>
                Le sidekick, une idée bien moins présente chez Marvel, à l’exception de Captain America une nouvelle fois. On expliquera cette différence par l’écart 
                des époques de création des personnages : les personnages créés par Marvel dans les années 60 arrivent à une époque où le sidekick (utilisé précédemment 
                pour servir de point d’accroche pour la jeunesse) lasse, et où le jeune Spider-Man révolutionne le concept.
              </p>
              <h3>Non pas sans faille</h3>
              <p>
                Cette part importante d’humanité que possèdent généralement les héros Marvel se reflète aussi dans le simple fait que ces personnages sont remplis 
                de faiblesses. Stan Lee, à qui l’univers Marvel doit beaucoup, notamment pour avoir co-créé de nombreux héros de la firme, a toujours affirmé vouloir 
                insuffler tout un lot de faiblesses et défauts à ses héros pour renouveler un minimum le genre, rendant par conséquent les héros moins parfaits. 
                Ce fut jusque là un des principaux défauts de la concurrence : des personnages trop lisses, sans accrochage entre les protagonistes d’une même équipe. 
                Ainsi, le vent de fraîcheur fut réel lorsqu’une équipe comme les Quatre Fantastiques était composée d’un Mr Fantastique distant, d’une Torche immature 
                ou d’une Chose plus enclin à la bagarre que la discussion. 
              </p>
              <p>
                En somme, la quasi-totalité des héros Marvel présente sa faille qui lui est propre : parmi les exemples les plus significatifs figurent Spider-Man, 
                empli de timidité et de culpabilité ; Iron Man, alcoolique ; ou encore Thor, boiteux sous sa forme humaine de Donald Blake.
              </p>
              <p>
                Même s’il est important de ne pas sur-généraliser, il est certain que les héros DC sont bel et bien plus lisses, malgré une tendance grandissante à 
                insuffler des « défauts » à ceux-ci, passant notamment par des doutes ou manque de confiance en soi.
              </p>
              <h3>Une question de puissance</h3>
              <p>
                Un autre aspect, peut être plus futil ou discutable, différencie les deux écuries : la puissance de leurs héros… les personnages DC étant généralement considérés plus puissants. 
              </p>
              <p>
                Qualité ou défaut, c’est au lecteur qu’il en revient de décider. L’un des super-héros les plus puissants est incontestablement Superman, véritable dieu. 
                Surpuissant, le Kryptonien pose parfois même problème aux auteurs. Quelle place accorder à un personnage aussi parfait, quel ennemi opposer à quelqu’un 
                capable de faire bouger la Lune ?
              </p>
              <p>
                Mais il n’est pas isolé, puisque Flash est quant à lui une véritable entorse aux lois de la physique tandis que Green Lantern est tout aussi omnipotent en présence de son anneau. 
              </p>
              <p>
                A côté, des personnages comme Thor, pourtant un véritable Dieu, peut faire pâle figure. Il peine finalement à sortir du lot, sa résistance et force 
                physique pouvant être comparable à celle d’un Hulk, ses pouvoirs électriques à ceux de Tornade (toute proportion gardée). Une nouvelle fois, la 
                généralisation aura ses torts, puisqu’on peut assister depuis plusieurs années à un renversement de cette tendance chez Marvel, comme ce fut le cas 
                d’Iron Man et son injection du virus Extremis, ou Hulk et sa surpuissance dans la duologie Planet Hulk / World War Hulk, bien que ces capacités 
                soient finalement passées sous silence ou amoindries avec le temps...
              </p>
              <h3>L'avis du public</h3>
              <p>
                Au delà d’un conflit entre les deux éditeurs, ceux-ci sont régulièrement mis en opposition par leurs fans respectifs. Entre préjugés et moqueries, 
                il semble difficile de se faire un réel avis pour tout nouveau venu dans le milieu du comics. DC Comics est souvent associé à une image assez 
                conservatrice, avec des héros puissants et solennels, parfois jugés d’ennuyeux ; Marvel étant qualifié de plus moderne, aux héros plus 'vrais' 
                mais peut être moins marquants.
              </p>
              <p>
                Une nouvelle fois, un petit retour en arrière permet certainement d’expliquer cette différence. Au cours des années 50, le Comic Code fut instauré 
                afin d’échapper à la censure de l’état. Bien que l’ayant un temps accepté, Marvel abandonna cette auto-censure, bousculant une nouvelle fois les codes.
              </p>
              <p>
                Chaque maison a également cherché à imposer sa propre image dans le surnom qu’elle se donnait… Ainsi, Marvel hérita du surnom de « La Maison des Idées », 
                tandis que DC, ayant cherché à se présenter comme « L’Univers Originel », héritera de « La Distinguée Concurrence » (proposé par Marvel), renvoyant par 
                la même occasion l’éditeur à sa condition d’opposant.
              </p>
              <p>
                Cependant, placer DC dans la case d’opposant 'de la vieille époque' serait une erreur. Les deux éditeurs ont toujours cherché l’innovation, souhaitant 
                toujours révolutionner un peu plus le genre, et bien que Marvel ait souvent eu un coup d’avance sur des sujets importants comme le racisme (Black Panther en tête).
              </p>
              <p>
                Sur le plan éditorial, DC domine bien souvent : citons par exemple le label Vertigo, lancé pour séduire un public plus adulte, ou encore le reboot New 52, offrant 
                la possibilité à un nouveau public de prendre le train en marche. 
              </p>
              <h3>La gestion d'un univers partagé</h3>
              <p>
                Un mot sur la notion d’univers partagé, notion usée par DC et Marvel : l’intégralité de leurs personnages coexistent au sein d’un unique univers, offrant des possibilités d’interactions.             
              </p>
              <p>
                Si au quotidien, la gestion de cet univers partagé est plus ou moins identique de part et d’autre, c’est sur la gestion globale que les deux divergent. 
                En effet, Marvel agit comme si la totalité des aventures écrites depuis 1939 fait partie de la même chronologie, DC remanie régulièrement l’intégralité 
                de son univers à coup de reboot, permettant une nouvelle approche tout en se détachant de ce qui a jusqu’alors été fait. 
              </p>
              <p>
                Et ce n’est pas une surprise : la nouvelle opposition a lieu sur grand et petit écran. Le match est donc le suivant : le favori, Disney/Marvel et son non moins célèbre "Marvel Cinematic Universe" 
                'contre' le challenger, DC/Warner et son "Worlds of DC". D’un côté, Marvel comptabilise une flopée de films milliardaires ; de l’autre, l’histoire est un peu plus compliquée, victime d’un retard 
                et d’une réelle difficulté à se démarquer. 
              </p>
              <p>
                Le succès sourit à Marvel qui, depuis 2008, développe un univers partagé, constitué d’une vingtaine de films et une dizaine de séries interconnectés. Un bref retour sur l’année 2018 ne fait 
                qu’appuyer ce constat : Black Panther a dépassé le milliard et atteint de prestigieuses nominations aux Oscars tandis qu’Avengers : Endgame a battu de nombreux records et récolté plus de deux 
                milliards de dollars… et autant dire que rien n'est encore fait, compte tenu du programme à venir.
              </p>
              <p>
                En face, DC a du mal à hériter du même succès. Lançant son univers en 2013 avec Man of Steel, Zack Snyder était alors à la coordination de ce qui se faisait appeler “DCEU”.  Mais l’univers souffre 
                dès ses premiers pas de nombreux critiques : « un univers trop sombre » pour certains, « trop rapide et expéditif » pour d’autres, DC peine à construire ce que Marvel a construit en une décennie, 
                mettant probablement trop rapidement la charrue avant les boeufs. Le ton aura changé radicalement avec le chaotique Justice League (tant dans sa production que dans ses résultats), essayant dès 
                lors de copier plus ou moins les codes du MCU. Et finalement, le succès apparaît, en témoigne Aquaman, premier film de la saga à obtenir le milliard de dollars. Au final, c’est un bilan en demi-teinte 
                qui en ressort, qui essaie aujourd’hui de rattraper les choix artistiques des débuts en les désignant comme des erreurs. Entre un univers qui continue d'avancer sans convaincre, et un « SnyderVerse » 
                ravivé avant d'être tué dans l'oeuf, Warner ne semble pas quoi faire avec cet univers pour former son public.
              </p>
              <h3>Conclusion</h3>
              <p>
                Finalement, de réelles divergences entre Marvel et DC existent et… n’est-ce pas tant mieux ? Ces deux mastodontes dominent déjà leur industrie, alors estimons nous heureux d’avoir un minimum de 
                diversité, chacun avec ses forces et ses faiblesses, qui font finalement leur marque de fabrique et permettent au plus grand nombre de trouver leur bonheur, et vivre un peu d’héroïsme à sa façon.
              </p>
              <!--<blockquote>
                <p>
                  Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                </p>
              </blockquote>-->
            </div>
          </article>

          <div class="auteur d-flex align-items-center">
            <img src="/static/img/sites/twitter/profil/BenUrich/pp.jpg" class="rounded-circle float-left" alt="">
            <div>
              <h4>Ben Urich</h4>
              <div class="social-links">
                <a href="/treeter/urich4thetruth"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="biu bi-instagram"></i></a>
              </div>
              <p>

                L'enquêteur Ben Urich, grand reporter et fondateur du journal Front Line, collabore aujourd'hui avec nos équipes du Web Bugle 
                pour explorer un peu plus en profondeur ce vaste monde de Marvel Comics et/ou des adaptations des personnages Marvel. 
                Ses dossiers ont pour but de vous fournir une analyse poussée des sujets traités, vous offrant des informations concrètes 
                et précises pour forger votre propre avis.              
            </p>
            </div>
          </div>

          <div class="commentaires">

           <!-- <h4 class="comments-count">8 Comments</h4>

            <div id="comment-1" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                  </p>
                </div>
              </div>
            </div><!- End comment #1 ->

            <div id="comment-2" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                  </p>
                </div>
              </div>

              <div id="comment-reply-1" class="comment comment-reply">
                <div class="d-flex">
                  <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                  <div>
                    <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                      Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                      Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-2" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                    <div>
                      <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan, 2020</time>
                      <p>
                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                      </p>
                    </div>
                  </div>

                </div><!- End comment reply #2->

              </div><!- End comment reply #1->

            </div><!- End comment #2->

            <div id="comment-3" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvelG.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                    Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                  </p>
                </div>
              </div>

            </div><!- End comment #3 ->

            <div id="comment-4" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                  </p>
                </div>
              </div>

            </div><!- End comment #4 -->

            <div class="reponse">
              <h4>LAISSER UN COMMENTAIRE</h4>
              <form action="">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Pseudo*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Site">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="comment" class="form-control" placeholder="Commentaire*"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Poster le commentaire</button>

              </form>

            </div>

          </div>

        </div>

        {% include '/investigation/onenparle.html' %}

      </div>

    </div>
  </section>

{% endblock %}