{% extends 'base.html' %}

{% block content %}

<section id="article" class="article" style="padding-top: 350px">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="/static/img/investigation/covers/evolutionmarvel.JPEG" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="#">Quels liens entre Marvel Studios et Marvel TV ?</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2022-02-05">05 Fev, 2022</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Ben Urich</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">0 commentaire</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Blabla
              </p>
              <hr>
              <p>
                FRONT LINE –               
              </p>
              <p>
                Le succès commercial et critique du MCU n’est plus à prouver. Créant l’événement en 2012 en officialisant la notion d’univers 
                partagé au cinéma, la franchise portée par Marvel Studios n’a cessé de grandir jusqu’à s’étendre à d’autres formats et rafler 
                des recettes inimaginables à l’époque. Bien que le succès soit en partie dû aux acteurs et équipes techniques, celui-ci doit 
                également être attribué aux choix et directives imposés par des “hommes de l’ombre”, à savoir les différents dirigeants de la compagnie.
              </p>
              <p>
                Plusieurs personnalités se partagent les responsabilités, avec chacun une importance plus ou moins graduée, allant de PDG à 
                membre du Comité Créatif. Bien connu de tous aujourd’hui, une des figures de Marvel Studios n’est autre que son président, 
                Kevin Feige, en charge de la production des films du MCU depuis ses débuts.
              </p>
              <h3>Retour sur la genèse du MCU</h3>




              
              <p>
                Commençons par le commencement : le terme « comics » désigne la version américaine des bandes-dessinées, mettant généralement 
                en scène des super-héros. Il existe deux principales compagnies de comics, DC Comics et Marvel Comics, bien que d’autres entreprises 
                s’illustrent également dans ce domaine. Depuis leur création, les comics ont servi à dénoncer et imposer des idées à propos de la 
                société et son évolution.
              </p>
              <h3>Temps de guerre : Captain America contre le nazisme</h3>
              <p>
                L’un des premiers héros publié chez Marvel Comics fut Captain America, inventé par Jack Kirby et Joe Simon. Créé pendant la Seconde 
                Guerre Mondiale, en décembre 1940, à une époque où les États-Unis ne sont alors pas encore entrés dans le conflit, le symbole est 
                grand puisque ses auteurs sont juifs. Pour l’anecdote, Hitler a d’ailleurs banni les comics en Allemagne, prétextant que leurs héros 
                étaient juifs… tandis que Mickey Mouse reste publié.
              </p>
              <p>
                Jeune homme frêle, Steve Rogers devient le célèbre Captain America après avoir été enrôlé et transformé en un super soldat par l’armée 
                américaine. Il possède dès lors une force phénoménale et est doté d’un bouclier indestructible. Il est accompagné de son ami et allié, 
                le jeune Bucky. Au delà de l’aspect « divertissement » du comics, la symbolique est grande et non anodine. Les deux personnages n’ont 
                pas de super-pouvoirs (du moins pas de pouvoirs rocambolesques), et partagent tous deux les valeurs de l’armée américaine : ils 
                combattent pour la liberté et osent s’opposer à l’oppression nazie, image de la barbarie et des méfaits des régimes totalitaires.
              </p>
              <p>
                De plus, le costume du Captain reprend les éléments du drapeau américain, grâce à ses couleurs et l’étoile dressée sur son torse, 
                mais aussi les treize bandes distinguables sur son abdomen. Le message va d’autant plus loin que, sur la couverture du premier numéro 
                de Captain America, le porte-bannière étoilé frappe directement au visage le Führer.
              </p>
              <img src="/static/img/investigation/evolutionmarvel/cappunchhilter.webp" class="img-fluid" alt=""><br><br>
              <p>
                L’idée est de montrer à la population américaine la menace que représente le régime nazi, et préparer (au même titre que d’autres 
                médias à l’époque) la population à une entrée en guerre imminente. Le processus est cependant on ne peut plus vicieux puisque le 
                personnage de Bucky sert évidemment à permettre aux enfants de s’identifier à lui. Rajoutons à ça que les revues sont peu onéreuses 
                et les couleurs sont attractives : recette parfaite d’une propagande douce auprès de la jeunesse américaine.
              </p>
              <p>
                Dans la suite de ses aventures, Captain America a affronté d’autres Nazis, à l’image de Crâne Rouge ou Zemo, conservant toujours 
                cet aspect de héros patriotique chargé de protéger son pays et sa nation. Il devient alors un symbole du Bien et de la puissance 
                américaine de cette époque. Bien que ses histoires soient faites pour divertir, un message sous-jacent se cache en réalité… 
                encourageant implicitement les jeunes américains à s’enrôler dans l’armée pour défendre leur nation du danger nazi.
              </p>
              <p>
                Puis, après la guerre, la vente de comics chute drastiquement : les vrais héros sont de retour au pays, les soldats. Marvel Comics 
                met un terme à la publication des aventures du Captain America, pour les remplacer par des histoires romantiques ou des westerns.
              </p>
              <h3>Un nouvel ennemi de la nation : le communisme</h3>
              <h4>Captain America reprend du service</h4>
              <p>
                Mais il ne faut attendre que quelques années, avec l’établissement de la Guerre Froide, guerre idéologique opposant les États-Unis 
                à l’URSS, pour que Marvel décide de ressortir du placard le héros au bouclier, qui défend maintenant le capitalisme américain face 
                à ce nouvel ennemi, une idéologie toute entière : le communisme.
              </p>
              <p>
                L’un des comics les plus connus mettant en scène le Cap’ face aux communistes est probablement le numéro 54 de sa série originelle.
              </p>
              <img src="/static/img/investigation/evolutionmarvel/commiesmasher.webp" class="img-fluid" alt=""><br><br>
              <p>
                Sur la couverture, nous pouvons apercevoir le héros face à un super-vilain communiste. Il est d’ailleurs écrit que Captain est un 
                « Commie smasher » (comprendre ‘Briseur de coco’), tandis que les communistes se distinguent facilement par leur habit serti du 
                symbole soviétique. Le super-soldat protège un citoyen américain, et semble très grand, pour montrer la grandeur de l’Amérique, 
                qui n’a pas peur de l’ennemi, comme le personnage. On distingue également la phrase « See Captain America defy the communist hordes » 
                (littéralement ‘Regardez Captain America défier les hordes de communistes’), signifiant que l’Amérique peut gérer à elle-seule la menace communiste.
              </p>
              <p>
                L’idée est alors la même : moins d’une dizaine d’années plus tard, Captain America, qui a d’abord été créé pour servir les intérêts 
                américains contre le nazisme auprès de la jeunesse, défend ces mêmes intérêts contre l’idéologie communiste. Les images usées portent 
                toutes un message fort, exposant une nouvelle fois la puissance américaine à son propre peuple.
              </p>
              <h4>Besoin de renfort</h4>
              <p>
                Mais la Guerre Froide ne s’arrête pas de sitôt et le début des années 60 marque l’apparition de nouvelles idées initiées par (entre autres) 
                Jack Kirby et Stan Lee. Ces derniers inventent alors une flopée de nouveaux super-héros parmi lesquels Iron Man, Hulk, Spider-Man, les X-Men, 
                les Quatre Fantastiques ou encore Thor. Ces nouveaux personnages vont alors servir à deux fins majeures, au delà du divertissement.
              </p>
              <p><b>Tony Stark / Iron Man</b></p>
              <p>
                Tony Stark, alias Iron Man, est un playboy milliardaire à la tête de Stark International, une entreprise spécialisée dans la construction 
                d’armes de guerre. Alors qu’il se rend au Vietnam, pendant la guerre du Vietnam, afin de présenter la puissance de sa nouvelle invention, 
                une mine explose et Stark est capturé par les Communistes vietnamiens sous les ordres de Wong-Chu (pure caricature raciste), qui souhaitent 
                que l’Américain leur construise un missile.
              </p>
              <img src="/static/img/investigation/evolutionmarvel/ironman.webp" class="img-fluid" alt=""><br><br>
              <p>
                Stark s’avère ainsi être un moyen d’exposer la violence communiste, riche et gentil américain capturé. Il devient vite une figure de 
                l’anti-communisme, s’opposant à de nombreux ennemis asiatiques et soviétiques. Sa pire némésis, le Mandarin, un puissant chinois maître des 
                arts martiaux, est également communiste. Celui-ci cherche à défendre l’idéologie rouge en place dans son pays face à Iron Man, tentant 
                parfois de le faire passer pour un traître vis à vis de l’Amérique. Iron Man représente le monde capitaliste, à l’image des États-Unis, et 
                sa puissance, par le biais de son armure high-tech futuriste.
              </p>
              <p>
                Marvel explore aussi l’idée du « Rêve américain », promulgué à l’époque en Europe, notamment via le passé de Stark : un personnage raté 
                avec de nombreux problèmes devenu une figure riche grâce à sa nation. Ainsi, bien plus que lors de la Seconde Guerre Mondiale, Marvel Comics 
                participe au soft power américain à l’international lors de la Guerre Froide.
              </p>
              <p><b>Thor Odinson</b></p>
              <p>
                Thor est le dieu de la foudre, tiré de la mythologie nordique. Après son arrivée sur Terre, il prend l’identité d’un docteur américain, 
                Donald Blake, et se rend en Inde pour venir en aide aux peuples défavorisés. Cependant, l’armée chinoise communiste décide un jour d’interdire 
                aux docteurs d’intervenir dans la région, déclenchant la colère du dieu Thor, qui réussit à battre ces soldats. Ils envoient entre autres le 
                super-vilain Radioactive Man pour détruire New York.
              </p>
              <img src="/static/img/investigation/evolutionmarvel/thor.webp" class="img-fluid" alt=""><br><br>
              <p>
                Ainsi, Thor est ici posé comme un homme surpuissant qui pourrait tout écraser sur son passage mais préfère user de son temps pour protéger 
                la veuve et l’orphelin (donc faire preuve de bonté), tandis que l’armée chinoise est présentée comme monstrueuse, ayant pour seul but de 
                détruire les États-Unis. Thor s’est également battu avec des soldats cubains (pays communiste) et même Mao Zedong, leader chinois à cette époque.
              </p>
              <p>
                Enfin, dans une issue, il est spécifié que la seule arme capable de détruire Thor se trouve au Vietnam, symbole de la menace nucléaire. 
                Et en effet, si le but est d’abord de dénoncer le système communiste et vanter les mérites du système capitaliste américain, Marvel Comics 
                reflète également l’inquiétude qui s’installe au sein du pays.
              </p>
              <p>
                La peur de la défiance nucléaire entre les États-Unis et l’URSS croit et, tandis que la guerre du Vietnam devient de plus en plus impopulaire 
                pour la population américaine, Marvel retire ses héros du champ de bataille.
              </p>
              <h3>Changement de stratégie : les peurs de la Guerre Froide</h3>
              <h4>Bruce Banner / Hulk</h4>
              <p>
                Bruce Banner, scientifique américain travaillant sur les radiations gamma, se voit être transformé en Hulk, créature monstrueuse, après avoir 
                voulu sauver un jeune homme du nom de Rick Jones. Marvel veut faire prendre conscience et faire réagir ses lecteurs : Américains et Soviétiques 
                se livrent alors à une course à l’armement, et c’est à cette époque que les deux puissances mondiales développent armes nucléaires et de 
                destruction massive. Pour forcer le trait, l’homme ayant déclenché la bombe était un agent soviétique nommé Igor.
              </p>
              <img src="/static/img/investigation/evolutionmarvel/hulk.webp" class="img-fluid" alt="">
              <h4>Les Quatre Fantastiques</h4>
              <p>L’équipe des Quatre Fantastiques est composée de Red Richards, Susan et Johnny Storm, et de Ben Grimm. L’équipe symbolise la parfaite famille 
                américaine de l’époque : ils sont intelligents et soudés. Leurs buts sont aussi révélateurs : ils protègent New York et le monde des menaces 
                cosmiques et du Dr Fatalis, souverain de la Latvérie. Ici, les deux menaces principales du monde occidental de l’époque se dévoilent, à savoir 
                l’entêtement à la course à l’espace (et donc les menaces qui pourraient en découler), ainsi que l’Europe de l’Est (communiste), représentée par la Latvérie.
              </p>
              <p>
                L’obtention de leur pouvoir est d’ailleurs pleinement ancrée dans la Guerre Froide, la raison étant que l’équipe se devait d’empêcher « les 
                communistes de les   battre » dans la course à l’espace. (Ironique sachant que le premier homme dans l’espace, Gagarin, était soviétique…).
              </p>
              <h4>Spider-Man et les enjeux</h4>
              <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0px;">
                <div style="width: 400px">
                  <p>
                    Mais les comics ne servent pas qu’à faire de la propagande, et, à l’image de la dénonciation de la menace nucléaire et de la crainte des 
                    citoyens, ces bandes-dessinées servent également à dépeindre l’évolution de la société américaine et cherchent à poser les bases de débats 
                    de tolérance. Marvel utilise des personnages comme Peter Parker, jeune adolescent dépassé par ses responsabilités, afin de permettre au lecteur 
                    de s’identifier à son héros… des héros qui seront toujours au contact des enjeux de la guerre froide, au travers d’ennemis russes (comme 
                    le Caméléon), ou d’intrigues (comme le sauvetage d’une capsule américaine).
                  </p>
                </div>
                <div style="padding-left: 35px">
                  <img src="/static/img/investigation/evolutionmarvel/spidermanspace.webp" style="width: 310px; height:310px" class="img-fluid" alt=""><br>
                </div>
              </div>
              <h3>Nouveaux messages</h3>
              <p>
                Un des enjeux majeurs des années 60 aux États-Unis est la lutte contre le racisme et en faveur des droits (notamment) des afro-américains. 
                Marvel ne laisse évidemment pas passer ce combat et en fait également le sien.
              </p>
              <h4>Les X-Men : lutte pour la tolérance</h4>
              <p>
                Pour cela, l’entreprise crée tout d’abord les X-Men. Cette équipe, composée de la race mutante et recrutée par Charles Xavier, propose un 
                débat réel : les mutants découvrent leurs pouvoirs dans leur jeunesse et sont rejetés par les hommes pour cela. Les mutants sont une 
                représentation des classes rejetées par la société, à l’instar des populations noires. Ils vivent reclus et isolés, et leurs comics traitent 
                majoritairement des problèmes d’intégration des groupes jugés « différents ».
              </p>
              <p>
                La manière de vivre ce rejet au sein des groupes mutants est aussi une illustration de la société de l’époque : tandis que les X-Men sont 
                pacifistes et prônent l’intégration, les mutants dirigés par Magnéto usent de méthodes bien plus violentes, souhaitant parfois même exterminer 
                la race humaine… un parallèle évident avec les deux figures de proue de la lutte pour les droits des peuples afro-américains, Martin Luther King et Malcolm X.
              </p>
              <h4>Black Panther : un combat contre le racisme</h4>
              <p>
                Black Panther est évidemment un autre symbole fort pour ce même combat. T’Challa, roi du Wakanda, un pays africain, est considéré comme une 
                des personnes les plus intelligentes sur Terre. Créé en 1966 par Stan Lee et Jack Kirby, Black Panther est le premier super-héros noir à 
                décrocher une série exclusivement concentrée sur lui. Africain de naissance, et non Américain, son pays est probablement le plus développé 
                au monde, dominant à la fois en sciences et technologies.
              </p>
              <p>
                Ce héros, novateur à l’époque, permet ainsi de parler au jeune public afro-américain. Le symbole est d’autant plus grand que, la même année, 
                le fameux parti des Black Panthers est créé alors que les deux homonymes n’ont pourtant rien en commun (et personne n’a copié sur l’autre). 
                Le nom pose problème pour Marvel, affilié malgré sa volonté au parti, et le héros est à partir de 1972 renommé Black Leopard, expliquant aux 
                autres que son nom « avait des… connotations politiques ».
              </p>
              <img src="/static/img/investigation/evolutionmarvel/blackpanther.webp" class="img-fluid" alt=""><br><br>
              <p>
                Très vite, T’Challa affronte des ennemis sérieux, à l’image du Ku Klux Klan, mais Marvel ne termine pas la série suite au boycott de certains partis. 
                Finalement, c’est un message politique fort qui s’illustre au travers du personnage, prêt à tout pour défendre les intérêts et la sécurité de son pays, 
                et par conséquent la vaillance et grandeur d’âme du héros africain. Black Panther est un témoin des tensions raciales de son époque, comme dit Kirby : 
                « Et je les ignorais (le public noir) juste parce que je faisais comme les autres ». Propos qui résonnent avec ceux de Lee en 1968 : « Le racisme et 
                le sectarisme sont parmi les fléaux les plus meurtriers aujourd’hui… Tôt ou tard, nous devrons apprendre à nous juger selon nos mérites ».
              </p>
              <h4>Carol Danvers : l'appel du féminisme</h4>
              <p>
                Les comics permettent aussi de mener d’autres combats pour encourager à une plus grande représentativité des ‘minorités visibles’ à l’époque, comme 
                le cas de Carol Danvers, personnage fort travaillant dans l’armée américaine. Première femme à obtenir sa propre série chez Marvel, elle est très 
                vite décrite comme une des héroïnes les plus puissantes de l’univers Marvel.<br>
                Son cas résonne avec celui de Susan Storm, membre des Quatre Fantastiques, femme indépendante et au moins toute aussi intelligente que ses comparses 
                masculins. Cette prise de conscience vis à vis de la gente féminine s’exprimera aussi au travers de personnages comme Black Widow, sans pouvoir mais 
                allant au front comme n’importe quel héros.
              </p>
              <h4>Évolution contemporaine</h4>
              <p>
                Ayant d’abord servi de machine de propagande, Marvel Comics se transforme progressivement en moyen de partager des idées de tolérance et d’évolution, 
                bien que certains problèmes restent d’actualité. Certains crient à l’extrême caricature raciste de plusieurs vieux personnages (par exemple le Mandarin), 
                tandis que Marvel adapte ses histoires aux nouveaux ennemis du monde occidental (à savoir les réseaux terroristes du Moyen Orient).
              </p>
              <p>
                Durant leur existence, les héros de Marvel sont confrontés aux problèmes de réels citoyens comme l’alcoolisme de Stark, et évoluent en même temps que la 
                société. Par exemple, la jeune Pakistanaise Kamala Khan est récemment devenue la nouvelle Ms. Marvel. Cette jeune musulmane est une des nombreuses 
                preuves de la volonté de Marvel de coller toujours plus au monde actuel… au risque de déplaire aux plus puristes. On pense notamment au changement 
                d’orientation sexuelle du X-Man Iceberg, peu de temps après des prises de position favorables du président Obama. Le cas de Kamala n’est cependant pas 
                un coup d’essai, puisque d’autres personnages emblématiques des comics ont subi le même sort, à l’image de Miles Morales, jeune américain d’origine 
                afro et latino, devenu Spider-Man, ou Thor prenant les traits de Jane Foster.
              </p>
              <h3>Conclusion</h3>
              <p>
                Pour conclure ce dossier, quoi de mieux que de citer une nouvelle fois Stan Lee, qui écrit dans un comics : 
                <i>« Pendant des années, nous avons essayé, à notre manière, de montrer que l’amour est un pouvoir bien plus grand que la haine ».</i>
              </p>
              <!--<blockquote>
                <p>
                  Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                </p>
              </blockquote>-->
            </div>
          </article>

          <div class="auteur d-flex align-items-center">
            <img src="/static/img/sites/twitter/profil/BenUrich/pp.jpg" class="rounded-circle float-left" alt="">
            <div>
              <h4>Ben Urich</h4>
              <div class="social-links">
                <a href="/treeter/urich4thetruth"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="biu bi-instagram"></i></a>
              </div>
              <p>

                L'enquêteur Ben Urich, grand reporter et fondateur du journal Front Line, collabore aujourd'hui avec nos équipes du Web Bugle 
                pour explorer un peu plus en profondeur ce vaste monde de Marvel Comics et/ou des adaptations des personnages Marvel. 
                Ses dossiers ont pour but de vous fournir une analyse poussée des sujets traités, vous offrant des informations concrètes 
                et précises pour forger votre propre avis.              
            </p>
            </div>
          </div>

          <div class="commentaires">

           <!-- <h4 class="comments-count">8 Comments</h4>

            <div id="comment-1" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                  </p>
                </div>
              </div>
            </div><!- End comment #1 ->

            <div id="comment-2" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                  </p>
                </div>
              </div>

              <div id="comment-reply-1" class="comment comment-reply">
                <div class="d-flex">
                  <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                  <div>
                    <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                      Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                      Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-2" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                    <div>
                      <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan, 2020</time>
                      <p>
                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                      </p>
                    </div>
                  </div>

                </div><!- End comment reply #2->

              </div><!- End comment reply #1->

            </div><!- End comment #2->

            <div id="comment-3" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvelG.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                    Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                  </p>
                </div>
              </div>

            </div><!- End comment #3 ->

            <div id="comment-4" class="comment">
              <div class="d-flex">
                <div class="comment-img"><img src="/static/img/msmarvel.JPEG" alt=""></div>
                <div>
                  <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                  <time datetime="2020-01-01">01 Jan, 2020</time>
                  <p>
                    Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                  </p>
                </div>
              </div>

            </div><!- End comment #4 -->

            <div class="reponse">
              <h4>LAISSER UN COMMENTAIRE</h4>
              <form action="">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Pseudo*">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email*">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Site">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="comment" class="form-control" placeholder="Commentaire*"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Poster le commentaire</button>

              </form>

            </div>

          </div>

        </div>

        {% include '/investigation/onenparle.html' %}

      </div>

    </div>
  </section>

{% endblock %}