{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">

    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV DROITE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">
        
        <!-- ====================== DIV TITRE ============================ -->
        <div class="fenetre"> 
          <img class="boutons" src="/static/img/boutons.png" >
          <br>
          <div class="research" style="color: #34a853ff"> 
            <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
            Fin du TP1
          </div>
        </div>

        <br>

        <!-- ====================== DIV INTERNET ============================ -->
        <div id = "div2">
          <!-- Display question : Internet-->
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Conclusion
            </div>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
              <div>
                <br>
                <img src="/static/img/habillage6.png" style="height: 250px">
              </div>
              <div style = "padding-right: 50px; width: 400px;">
                <br><br>
                <p style="font-size: 15px;"> Nous voyons que, même si nous parvenons à trouver notre solution, il est <b>nécessaire d’être moteur</b> : 
                    dans un premier temps, la recherche repose sur la <b>façon de chercher la page</b> qui contient les données 
                    qui nous intéressent puis, dans un second temps, sur <b>la lecture et l’analyse humaine des pages visitées</b>.
                    <br><br>
                    Nous verrons au prochain TP qu’une <b>représentation différente des données peut aider à améliorer la recherche</b>…
                  </p>
                  <br>
              </div>
            </div>
          </div>

          <br>

          <!-- Display explication : Internet et Web-->
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div id="div2">
              <div class="research"> 
                <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
                Bibliographie
              </div>
              <br>
              <p style = "font-size: 18px; color: #34a853ff; font-weight: bold;">Pour en savoir plus...</p>
              <div style="margin: auto">
                <ul>
                  <li style ="text-align: left;">
                    <a href="https://interstices.info/idee-recue-web-et-internet-cest-la-meme-chose/" style="color:#7c7c7c; font-weight: bold; font-size: 16px;">
                      Interstices - Idée reçue : Web et Internet, c'est la même chose
                    </a>
                  </li>
                  <li style ="text-align: left;">
                    <a href="https://developer.mozilla.org/fr/docs/Learn/HTML/Introduction_to_HTML/Creating_hyperlinks" style="color:#7c7c7c; font-weight: bold; font-size: 16px">
                      MDN Web Docs - Création d'hyperliens
                    </a>
                  </li>
                  <li style ="text-align: left;">
                    <a href="https://mylittlebigweb.com/comment-fonctionne-un-moteur-de-recherche/" style="color:#7c7c7c; font-weight: bold; font-size: 16px">
                      SEO - Comment fonctionne un moteur de recherche ?
                    </a>
                  </li>
                </ul>
              </div>
              <br>
              <button class="quiz" onclick="window.location.href = '/'">Retour à l'accueil</button>
              <button class="quiz" onclick="window.location.href = '/'">TP suivant</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ====================== DIV GAUCHE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>

		<br>

    {% include 'interface.html' %}

  </div>
</header>
{% endblock %}

