{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">
    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV GAUCHE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">
        
        <!-- ====================== DIV IP ============================ -->
        <!-- Display question : Communication entre deux ordis -->
        <div id="div0" class="fenetre"> 
          <img class="boutons" src="/static/img/boutons.png" >
          <br>
          <div class="research"> 
            <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
            Communication entre deux ordinateurs
          </div>
          <br>
          <p>Deux ordinateurs sont reliés entre eux par un lien de communication filaire ou non filaire.</p>
          <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
            <div >
                <br><br>
                <img src="/static/img/habillage2.png" style = "width: 150px;">
            </div>
            <div style = "width: 400px; padding-right : 50px;">
              <div class="quiz-container">
                <div id="quiz2"></div>
              </div>
              <br><br>
              <div id="results"></div>
              <br>
              <button class="quiz" id="previous" >Précédent</button>
              <button class="quiz" id="next">Suivant</button>
              <button class="quiz" id="submit">Corriger</button>
              <br><br>
            </div>
          </div>
        </div>

        <br>

        <!-- Display explication : Communication entre deux ordis -->
        <div class="fenetre" id="div1" style="display: none; "> 
          <img class="boutons" src="/static/img/boutons.png" >
          <br>
          <div class="research"> 
            <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
            Adresses IP
          </div>
          <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
            <div>
                <br>
                <div class = "info">
                  Chaque ordinateur est identifié au sein d’un réseau par une <b>adresse IP</b> : il s’agit d’une adresse généralement constituée de <b>4 nombres entre 0 et 255</b>. Ces adresses permettent ainsi de savoir où envoyer/demander les données recherchées.
                  <br><br>
                  C’est la même chose lorsque vous souhaitez envoyer une photo par SMS à un ami : vous devez avoir son numéro de téléphone pour lui envoyer.                
                </div>
            </div>
            <div>
                <div style="margin:auto;">
                  <img src="/static/img/ip.gif" style = "width: 500px">
                </div>
            </div>
          </div>
          <button class="quiz" onclick="window.location.href = '/tp1/part1-3'">Continuer</button>
	      </div>
      </div>
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ====================== DIV DROITE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>

	  <br>

    {% include 'interface.html' %}
  
  </div>
</header>

<script src="{{ url_for('static', filename='js/tp1/quiz2.js') }}"></script>

{% endblock %}
