{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">

    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV GAUCHE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">

        <!-- ====================== DIV WEB ============================ -->
        <div>
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Connaissez-vous vraiment le Web ?
            </div>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
              <div style = "padding-left: 30px;">
                <div class="quiz-container">
                  <div id="quiz11"></div>
                </div>
      
                <div id="results"></div>
                <br><br>
                <button class="quiz" id="previous11" >Précédent</button>
                <button class="quiz" id="next11">Suivant</button>
                <button class="quiz" id="submit11">Corriger</button>
                <br>
              </div>
              <div>
                <br>
                <img src="/static/img/habillage1.png">
              </div>
            </div>
          </div>
      
          <br>
      
          <!-- Display explication : Web-->
          <div class="fenetre" id="div0" style="display:none"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div>
              <div class="research"> 
                <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
                Le Web
              </div>
              <br>
              <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
                <div>
                  <img src="/static/img/web.gif" style="width: 450px; margin:auto;">
                </div>
                <div class="info">
                  Le Web correspond aux <b>pages stockées</b> sur des serveurs, 
                  c’est-à-dire des ordinateurs qui contiennent des informations.
                  <br><br>
                  Il n’est pas possible d’accéder au Web sans Internet (tandis que l’inverse est possible) : 
                  pour accéder à une ressource qui se trouve sur un autre serveur, 
                  nous devons <b>utiliser Internet</b> pour connecter notre ordinateur au réseau du serveur.
                </div>
              </div>
              <button class="quiz" onclick="window.location.href = '/tp1/part1-4'">Continuer</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ====================== DIV DROITE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>
	
    <br>
    
    {% include 'interface.html' %}
  
  </div>
</header>

<script src="{{ url_for('static', filename='js/tp1/quiz3-1.js') }}"></script>


{% endblock %}
