{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">

		<div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			<!-- =================== DIV GAUCHE : CONTENU ======================= -->
			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			<div style = "padding-left: 30px;">

				<!-- ====================== DIV NAVIGATEUR ========================= -->
				<div id="div0">
					<div class="fenetre"> 
						<img class="boutons" src="/static/img/boutons.png" >
						<br>
						<div class="research"> 
							<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
							Qu'est-ce qu'un navigateur ?
						</div>
						<br>
						<div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
							<div style = "padding:10px">
								<div class = "info" style="color:#7c7c7c; width: 350px;">
									<div class="quiz-container" style="margin-top:5px">
										<div id="quiz4"></div>
									</div>
									<br>					
									<button class="quiz" id="submit">Corriger</button>
									<br>
								</div>
							</div>
							<div style="padding:10px; margin:auto">
								<div class = "info" id="div1" style ="display : none; font-size: 1.6rem">
									<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Réponse</p>
									Un navigateur est un logiciel qui permet de <b>consulter des pages Web.</b>
									<br>
									Chrome, Firefox, Safari, Edge en sont des exemples.
									<br><br>
									<button class="quiz" id="btn2">Continuer</button>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>


				<!-- ====================== DIV URL ========================= -->
				<div id="div2" style="display:none;">
					<div class="fenetre"> 
						<img class="boutons" src="/static/img/boutons.png" >
						<br>
						<div class="research"> 
							<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
							Consultation d'un document
						</div>
						<br>
						<div class = "info" style ="font-size: 1.6rem; width: 500px">
							<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Manipulation</p>
							Ouvrez un navigateur Web et entrez « <a href="https://www.glenat.com/manga" style="color:#34a853ff; font-weight: bold;">www.glenat.com/manga</a> » dans la barre d’adresse.
						</div>
						<div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
							<div style = "padding:10px">
								<div class = "info" style="color:#7c7c7c">
									<div class="quiz-container" style="margin-top:5px">
										<div id="quiz41"></div>
									</div>
									<br>
									<div id="results41"></div>
									<br>
									<button class="quiz" id="previous41" >Précédent</button>
									<button class="quiz" id="next41">Suivant</button>
									<button class="quiz" id="submit41">Corriger</button>
									<br>

								</div>
							</div>
							<div style="padding:10px; margin:auto">
								<div class = "info" id="div3" style ="display : none; font-size: 1.4rem;">
									<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Réponse</p>
									L’adresse est appelée une <b>URL</b> (Uniform Resource Locator). Elle se compose d’un <b>nom du serveur Web</b> qui contient toutes les informations recherchées (glenat.com) et d’une <b>page Web</b> à afficher (/manga).
									<br> 
									Grâce au nom du serveur, <b>le navigateur récupère l’adresse IP du serveur et lui demande la page recherchée</b>. 
									<br><br>
									<button class="quiz" id="btn4">Continuer</button>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>

				<!-- ================== DIV CODE SOURCE ===================== -->
				<div id="div4" class="fenetre" style="display:none"> 
					<img class="boutons" src="/static/img/boutons.png" >
					<br>
					<div class="research"> 
						<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
						Code source
					</div>
					<br>
					<div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
						<div style = "padding:10px">
							<div style="padding-left: 15px; padding-right: 15px">
								Le navigateur ne sert pas simplement à afficher une page recherchée : 
								en effet, il interprète le <b>“code source”</b> pour <b>afficher de manière interprétable </b>
								les véritables données stockées sur les serveurs d’Internet. 
							</div>
							<br>
							<div class = "info">
								<p style ="font-weight: bold; font-size: 20px; color: #34a853ff; border: 2px solid #34a853ff; margin: auto; width: 150px; border-radius: 30px">Manipulation</p>
								<br>
								Placez votre souris sur la page web et faites un clic droit. 
								Sélectionnez l’option « Code source de la page ». 
								Observez la page et essayez de repérer des éléments reconnaissables.
								<br><br>
								<button class="quiz" id="btn5">Continuer</button>
							</div>
						</div>
						<div style="padding:10px; margin:auto">
							<div class = "info" id="div5" style ="display : none; font-size: 1.3rem;">
								<p style ="font-weight: bold; font-size: 20px; color: #34a853ff;">Réponse</p>
								Vous découvrez ce qu’est le <b>HTML</b> ! Il s’agit d’un <b>langage de programmation</b> pour créer et représenter du contenu Web. 
								<br><br>
								La page est <b>stockée dans cet état</b> dans les serveurs. 
								HTML est très utilisé, souvent conjugué à d’autres langages. 
								Il est évidemment <b>difficilement compréhensible</b> pour des non-initiés mais il est notamment 
								<b>essentiel pour un concept bien connu</b> que nous avons vu…
								<br><br>
								<button class="quiz" id="btn6">Continuer</button>
							</div>
						</div>
					</div>
				</div>

				<br>

				<!-- ====================== DIV HREF ========================= -->
				<div id="div6" class="fenetre" style="display:none"> 
					<img class="boutons" src="/static/img/boutons.png" >
					<br>
					<div class="research"> 
						<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
						Href
					</div>
					<br>
					<div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
						<div style = "margin: auto; padding:10px">
							<div class = "info" id="div1" style =" font-size: 1.6rem">
								<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Question</p>
								Repérez une ligne « href ». 
								<br>
								Que remarquez-vous ?
								<br>
								À quoi sert ce type de ligne selon vous ?

								<br><br>
								<button class="quiz" id="btn7">Continuer</button>
							</div>
						</div>
						<div style="padding:10px; margin:auto">
							<div class = "info" id="div7" style ="display:none; font-size: 1.4rem">
								<p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Réponse</p>
								Les « href » sont les hyperliens. Si l’on regarde de plus près, on remarque que ces balises « href » 
								sont suivies d’un texte bleu et souligné de la forme « /... » désignant une autre page web du site. 
								<br>
								<a style = "font-size: 1.2rem; color: #1c1c3d">
									(Par exemple, à la ligne 188, « /comics » : cet hyperlien renvoie vers la page web du site concernant les comics). 
								</a>
								<br><br>
								<button class="quiz" onclick="window.location.href = '/tp1/part2-2'">Continuer</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			<!-- ====================== DIV GAUCHE : MENU ======================= -->
			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
			<div >
				{% include 'menu.html' %}
			</div>
		</div>

		<br>

		{% include 'interface.html' %}

    </div>
</header>

<script src="{{ url_for('static', filename='js/tp1/quiz4.js') }}"></script>
<script src="{{ url_for('static', filename='js/tp1/quiz4-1.js') }}"></script>

<script>
  let btn1 = document.getElementById("submit");
  let btn2 = document.getElementById("btn2");
  let btn3 = document.getElementById("submit41");
  let btn4 = document.getElementById("btn4");
  let btn5 = document.getElementById("btn5");
  let btn6 = document.getElementById("btn6");   
  let btn7 = document.getElementById("btn7");  
  let div0 = document.getElementById("div0");
  let div1 = document.getElementById("div1");
  let div2 = document.getElementById("div2");
  let div3 = document.getElementById("div3");
  let div4 = document.getElementById("div4");
  let div5 = document.getElementById("div5");
  let div6 = document.getElementById("div6");
  let div7 = document.getElementById("div7");


  btn1.addEventListener("click", () => {
		if(getComputedStyle(div1).display == "none"){
		  div1.style.display = "block";
		}
  })

  btn2.addEventListener("click", () => {
		if(getComputedStyle(div2).display == "none"){
		  div2.style.display = "block";
		}
  })

  btn3.addEventListener("click", () => {
		if(getComputedStyle(div3).display == "none"){
		  div3.style.display = "block";
		}
  })

  btn4.addEventListener("click", () => {
		if(getComputedStyle(div4).display == "none"){
		  div0.style.display = "none";
		  div2.style.display = "none";
		  div4.style.display = "block";
		}
  })

  btn5.addEventListener("click", () => {
		if(getComputedStyle(div5).display == "none"){
		  div5.style.display = "block";
		}
  })

  btn6.addEventListener("click", () => {
		if(getComputedStyle(div6).display == "none"){
		  div6.style.display = "block";
		}
  })

  btn7.addEventListener("click", () => {
		if(getComputedStyle(div7).display == "none"){
		  div7.style.display = "block";
		}
  })
</script>
{% endblock %}

